// Bootstrap
@import "_bootstrap.scss";

// Custom ----

// Gral.
body {
	font-family: Roboto;
}
.no-gutter {
	padding-left: 0;
	padding-right: 0; 
}

// Header
.navbar {
	.container {
		.navbar-brand {
			font: 30px/30px Lobster; 
			height: auto;
			margin: 15px 20px 15px 0;
			padding: 0;
			vertical-align: top;

			a {
				color: #444345;

				img {
					display: inline-block;
					height: 50px;
					margin-right: 10px;
				}

				&:hover {
					color: red;
				}
			}
		}
	}
}

.navbar-nav {
	margin: 15px 0;
}

main {
	.formulario {
		background-color: red;
	}

	.preview {
		background-color: blue;
	}
}

//testimonios

#testimonios {
    margin-top:100px;
    text-align: center;
    
    [class*='col-'] {
        float: none;
        display: inline-block;
    }
    
    .thumbnail {
        height:100%;
    }
    
    img{
        border-radius: 100%;
    }
    
    p {
        height: 57px;
        overflow: hidden;
    }
    
    .work {
        font-style:italic;
    
    }
}

#feature {
    margin-top: 50px;
    text-align: center;
    background-color: #eee;
    padding: 3em 0;
    
    .media-object{
        padding: 1.5em 0;
    }  
    
    .media-heading{
        padding: .5em 0;
    }

}
