
.log
{
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.logname
{
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.a_ddmOpt
{
    font-weight: normal;
}

#menubar
{
}

    #menubar, #menubar ul
    {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        #menubar a, #menubar a:hover
        {
            display: block;
            text-decoration: none;
            color: #999;
        }

            #menubar a.trigger
            {
                padding: 9px 25px 9px 9px;
                border: 1px solid #ccc;
                background-repeat: no-repeat;
                background-position: right center;
                overflow: hidden;
                width: 230px;
                height: 40px;
                background-image: url(/ICM/CommonControls/Images/drop-down.png);
            }

                #menubar li:hover a.trigger, #menubar a.trigger:focus,
                #menubar a.trigger:active, #menubar li.hvr a.trigger
                {
                    color: #000000;
                    border-right: 1px solid #c4c4c4;
                    border-top: 1px solid #c4c4c4;
                    border-left: 1px solid #c4c4c4;
                    border-bottom: 0;
                    padding: 9px 25px 9px 9px;
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-image: url(/ICM/CommonControls/Images/drop-up.png);
                }


        #menubar li
        {
            float: right;
            position: relative;
            margin: 0 !important;
            position: static;
            width: auto;
        }
            /* end hiding from IE5 mac */

            #menubar li ul, #menubar ul li
            {
                width: 190px;
                float: right;
            }

                #menubar ul li a
                {
                    color: #777;
                    border-right: 0;
                }

            #menubar li ul
            {
                position: absolute;
                display: none;
                z-index: 9999;
            }


            #menubar li:hover ul, #menubar li.hvr ul
            {
                display: block;
            }

                #menubar li:hover ul a, #menubar li.hvr ul a
                {
                    background-color: transparent;
                }

        #menubar ul a:hover
        {
            color: #000;
        }

.name
{
    float: left;
    overflow: hidden;
    width: 182px;
    height: 40px;
}

    .name h2
    {
        font-size: 17px;
        color: #314ca7;
        width: 180px;
        height: 20px;
        white-space: nowrap;
        text-align: right;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
    }

P.role
{
    font-size: 11px;
    color: #fff;
    padding: 2px 0 2px 0;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    text-align: right;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.job
{
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding: 2px 0;
    text-align: right;
    width: 180px;
    height: 20px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.HeaderItems
{
    z-index: 99999 !important;
    background-color: #ececec;
    padding: 14px;
    -webkit-box-shadow: 0 0px 5px #ececec;
    box-shadow: 0 0px 5px #ececec;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #ccc;
    display: block;
    width: 236px;
}

.HeaderItems-options p
{
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
    font-size: 11px;
    text-indent: 1em;
}

    .HeaderItems-options p:hover
    {
        background-repeat: no-repeat;
        text-indent: 1em;
        height: 14px;
    }

.HeaderItems-dropdown
{
    position: absolute;
    top: 47px;
    right: -2px;
}

#logphoto img, #logphoto img:hover
{
    border: 0 !important;
}

/*should be located over the company logo*/
#upperleft
{
    background-color: transparent !important;
    display: block;
    float: left;
    position: absolute;
    left: 8px;
    top: 63px;
    z-index: 1;
    height: 42px;
    width: 193px;
}
