/* Docking Zone properties */

.RadDockZone_meriOffice2007
{
    border:1px solid #ccc;
    padding:0px 0 0 5px;
    background:transparent;
}

*>.RadDockZone_meriOffice2007 .rdVertical /* hidden from IE6 */
{
    padding:0px;
    margin:0px;
}

/* Dock Object properties */

/* wrappers and borders */

.RadDockZone_meriOffice2007 .rdPlaceHolder
{
    border-color:#666;
}

.RadDock_meriOffice2007
{
    margin:0 5px 5px 0;
    color:#000;
    /*font-family:'ms sans serif',sans-serif;*/
    text-align:left;
}

.RadDock_meriOffice2007 .rdTopBorder,
.RadDock_meriOffice2007 .rdSideBorders,
.RadDock_meriOffice2007 .rdBottomBorder
{
    border-width:0px;
    border-color:#888;
    background-color: #fff;
	/*background-image: url("../images/roundback.gif");
	background-repeat: no-repeat;*/
	
}
.RadDock_meriOffice2007 .rdSideBorders
{
    border-style:none solid none;
    margin-bottom: 10px;
}
.RadDock_meriOffice2007 .rdTopBorder
{
    border-style:solid none none;
}
.RadDock_meriOffice2007 .rdBottomBorder
{
    border-style:none none solid;
}


/* titlebar and buttons */

.RadDock_meriOffice2007 .rdTitlebar
{
	/*    
    font-weight:bold;
    color:#000000;
    border-left:solid 1px #888;
    border-right:solid 1px #888;
    */
	height: 33px;
	background-color: #fff;
	border-top: 1px solid #888;	
	border-left:solid 1px #888;
    border-right:solid 1px #888;
    background:url(../images/head2.gif);
	background-repeat:repeat-x;		
}
.RadDock_meriOffice2007 .rdTitlebar a
{
    color:#990000;
    font-weight:bold;
    text-decoration:underline;
}
.RadDock_meriOffice2007 .rdTitlebar a:hover
{
    color:#333333;
    font-weight:bold;
    text-decoration:underline;
}
.RadDock_meriOffice2007 .rdHTitlebar .rdTitlebar
{
	/*
    height:30px;    
    padding-left:0px;
    border-bottom:1px solid #8db2e3;
	*/	
}
.RadDock_meriOffice2007 .rdCollapsed .rdHTitlebar .rdTitlebar
{
    padding-bottom:0px; /*brd - title brd*/
}
.RadDock_meriOffice2007 .rdVTitlebar .rdTitlebar
{
    left:1px;
    width:20px;
    background:url(../images/TitlebarV.gif) repeat-x;
}

.RadDock_meriOffice2007 .rdTitlebar .rdTitle
{
    /*font:bold 11px/21px 'ms sans serif',sans-serif;*/
    color: #000;
	font-size: 13px; 
	padding:0 0 0 3px;
	text-decoration: none;
}

.RadDock_meriOffice2007 .rdHTitlebar .rdTitle
{    
	height:53px; 
	background:url(../images/head2.gif);
	background-repeat:repeat-x;		
}
.RadDock_meriOffice2007 .rdVTitlebar .rdTitle
{
    padding:5px 0 0 0;
    background:url(../images/TitlebarVTop.gif) no-repeat;
    line-height:1.4em;
}

.RadDock_meriOffice2007 .rdHTitlebar .rdCommands
{
    padding-right:0px;
    margin-top:8px;
    height:20px;
    /*background:url(../images/TitlebarHRight.gif) 100% 0 no-repeat;*/
}

.RadDock_meriOffice2007 .rdHTitlebar .rdCommands a
{
    margin:0 3px 0 0;
}
.RadDock_meriOffice2007 .rdVTitlebar .rdCommands a
{
    margin:0;
}

.RadDock_meriOffice2007 .rdCommands a
{
    height:19px;
    margin-top:3px;
}
.RadDock_meriOffice2007 a.rdCollapse
{
    width:13px;
    background:url(../images/toggle_min_off.gif) repeat-x;
}
.RadDock_meriOffice2007 a.rdCollapse:hover
{
    width:13px;
    background:url(../images/toggle_min_on.gif) repeat-x;
}
.RadDock_meriOffice2007 a.rdExpand
{
    width:13px;
    background:url(../images/Expand.gif) repeat-x;
}
.RadDock_meriOffice2007 a.rdExpand:hover
{
    width:13px;
    background:url(../images/Expand_On.gif) repeat-x;
}
.RadDock_meriOffice2007 a.rdClose
{
    width:13px;
    background:url(../images/toggle_cls_off.gif) repeat-x;
}
.RadDock_meriOffice2007 a.rdClose:hover
{
    width:13px;
    background:url(../images/toggle_cls_on.gif) repeat-x;
}
.RadDock_meriOffice2007 .rdPin
{
    width:13px;
    background:url(../images/Pin.gif) repeat-x;
}
.RadDock_meriOffice2007 .rdUnpin
{
    width:13px;
    background:url(../images/Unpin.gif) repeat-x;
}

.RadDock_meriOffice2007 a.rdCustom 
{
    width:13px;    
    background:url(../images/toggle_con_off.gif) repeat-x;     
}
.RadDock_meriOffice2007 a.rdCustom:hover
{
    width:13px;    
    background:url(../images/toggle_con_on.gif) repeat-x;    
}


/* inner content */

.RadDock_meriOffice2007 .rdContent
{
    top:0px; /*brd*/
    padding-bottom:1px; /*brd*/
    overflow:hidden! Important;
    /*font:11px/1.2 Arial;
     font:9.7pt/1.2 Arial;*/
}

.RadDock_meriOffice2007 .rdVTitlebar .rdContent
{
    margin-left:20px;
}


/* drag grips */

.RadDock_meriOffice2007 .rdGripTop,
.RadDock_meriOffice2007 .rdGripLeft
{
    background:#666;
}

.RadDock_meriOffice2007 .rdGripTop
{
    top:2px; /*brd*/
    height:3px;
}
.RadDock_meriOffice2007 .rdGripLeft
{
    left:2px; /*brd*/
    width:3px;
}

.RadDock_meriOffice2007 .rdWGripLeft .rdContent
{
    margin-left:3px;
}

.RadDock_meriOffice2007 .rdTopLeft,
.RadDock_meriOffice2007 .rdTopRight,
.RadDock_meriOffice2007 .rdBottomLeft,
.RadDock_meriOffice2007 .rdBottomRight,
.RadDock_meriOffice2007 .rdLeftMiddle,
.RadDock_meriOffice2007 .rdRightMiddle
{
	height: 3px;
	width: 3px;
	line-height: 3px;
	background: #8db2e3;
}

.RadDock_meriOffice2007 .rdTopCenter, 
.RadDock_meriOffice2007 .rdBottomCenter 
{
	background: #8db2e3;
	height: 3px;
	line-height: 3px;
}

.RadDock_meriOffice2007 .rdWrapTable .rdTitlebar,
.RadDock_meriOffice2007 .rdWrapTable .rdTitle,
.RadDock_meriOffice2007 .rdWrapTable .rdCommands
{
    background:url(../images/TitlebarH.gif) repeat-x;
}

.RadDock_meriOffice2007 .rdWrapTable .rdSideBorders .rdHTitlebar
{
    border: 0;
    border: 0 !important;
}

#dashboardPanelArea2 .RadDockZone {padding: 0 0 0 0}
.eybigfeature2-left {margin-left: 20px !important}
