/* latin-ext */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter-Regular'), url(http://fonts.gstatic.com/s/bitter/v7/VyzH0eNzfhxMjuJ3chtK7H-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter-Regular'), url(http://fonts.gstatic.com/s/bitter/v7/HEpP8tJXlWaYHimsnXgfCOvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.fancybox-margin{margin-right:0px;}

.content{
height: 3515px;left: 0px;top: 0px;width: 960px;z-index: 0;position: absolute;border-width: 0px;margin: 0pt auto;position: relative}
._a90b1747-b20a-5737-d36c-921c17458e21{
height: 140px;left: 78px;top: 160px;width: 800px;z-index: 2;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._a90b1747-b20a-5737-d36c-921c17458e21 *{
border-width: 0px;line-height: 1.4}
._a90b1747-b20a-5737-d36c-921c17458e21 a{
border-width: 0px;text-decoration: none}
._b7bd450e-70c8-9bfa-2731-54adb7c91d78{
height: 300px;left: 0px;top: 960px;width: 960px;z-index: 4;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px}
._3ee087b9-d0b9-06a5-6fe0-daaaf48b120a{
height: 39px;left: 203px;top: 978px;width: 540px;z-index: 6;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._3ee087b9-d0b9-06a5-6fe0-daaaf48b120a *{
border-width: 0px;line-height: 1.4}
._3ee087b9-d0b9-06a5-6fe0-daaaf48b120a a{
border-width: 0px;text-decoration: none}
._0acf220e-a8a0-f1d0-53c4-8df04eb38844{
height: 30px;left: 330px;top: 1045px;width: 300px;z-index: 8;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._0acf220e-a8a0-f1d0-53c4-8df04eb38844 *{
border-width: 0px;line-height: 1.4}
._0acf220e-a8a0-f1d0-53c4-8df04eb38844 a{
border-width: 0px;text-decoration: none}
._649e64a5-20f9-620a-f0b2-6fe08d2b4532{
height: 30px;left: 660px;top: 1045px;width: 300px;z-index: 10;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._649e64a5-20f9-620a-f0b2-6fe08d2b4532 *{
border-width: 0px;line-height: 1.4}
._649e64a5-20f9-620a-f0b2-6fe08d2b4532 a{
border-width: 0px;text-decoration: none}
._f5dc1e68-015b-a545-1ed6-cc1c8d13e35c{
height: 25px;left: 0px;top: 1090px;width: 300px;z-index: 12;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._f5dc1e68-015b-a545-1ed6-cc1c8d13e35c *{
border-width: 0px;line-height: 1.4}
._f5dc1e68-015b-a545-1ed6-cc1c8d13e35c a{
border-width: 0px;text-decoration: none}
._9cd97e7b-0d5c-3a39-e87e-7dab592eab2e{
height: 1px;left: 751px;top: 1001px;width: 210px;z-index: 14;position: absolute;border-width: 0px;background-color: #DADADA}
._3b7d54cb-7a39-31f5-0917-400bba7bfe3e{
height: 1px;left: 0px;top: 1000px;width: 200px;z-index: 16;position: absolute;border-width: 0px;background-color: #DADADA}
._2224ddd9-9fc5-0286-98e2-463261932637{
height: 25px;left: 330px;top: 1090px;width: 300px;z-index: 18;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._2224ddd9-9fc5-0286-98e2-463261932637 *{
border-width: 0px;line-height: 1.4}
._2224ddd9-9fc5-0286-98e2-463261932637 a{
border-width: 0px;text-decoration: none}
._c6ae3a17-41e6-9885-1c16-00e4d5ed1be5{
height: 25px;left: 660px;top: 1090px;width: 300px;z-index: 20;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._c6ae3a17-41e6-9885-1c16-00e4d5ed1be5 *{
border-width: 0px;line-height: 1.4}
._c6ae3a17-41e6-9885-1c16-00e4d5ed1be5 a{
border-width: 0px;text-decoration: none}
._4ac948ae-1205-5d02-25b9-0195e521271b{
height: 30px;left: 0px;top: 1050px;width: 300px;z-index: 22;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._4ac948ae-1205-5d02-25b9-0195e521271b *{
border-width: 0px;line-height: 1.4}
._4ac948ae-1205-5d02-25b9-0195e521271b a{
border-width: 0px;text-decoration: none}
#_bb8c1e9f-1166-0de2-430a-ccfba0fb6d47 {
position:absolute;
top: 35px; 
left: 370px;
width: 223px;
height: 54px;
z-index: 24;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
}._45a50c0c-4585-ebe8-fc74-7f9b2dc52465{
height: 42px;left: 0px;top: 230px;width: 960px;z-index: 26;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._45a50c0c-4585-ebe8-fc74-7f9b2dc52465 *{
border-width: 0px;line-height: 1.4}
._45a50c0c-4585-ebe8-fc74-7f9b2dc52465 a{
border-width: 0px;text-decoration: none}
._bdf7cbcd-0bbe-2e78-ecec-d3ed662e68db{
height: 575px;left: 0px;top: 1310px;width: 960px;z-index: 28;position: absolute;background-color: rgba(33,33,33,1.0);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#212121', endColorstr='#212121');border-style: solid solid solid solid;border-color: #212121;border-width: 1px}
#_d84c36b4-bed6-2cad-5977-a1b570ef2a83 {
position:absolute;
top: 1350px; 
left: 40px;
width: 880px;
height: 495px;
z-index: 30;
}._eb4020f8-75ba-483a-e9bd-af266132022e{
height: 25px;left: 0px;top: 3457px;width: 460px;z-index: 32;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._eb4020f8-75ba-483a-e9bd-af266132022e *{
border-width: 0px;line-height: 1.4}
._eb4020f8-75ba-483a-e9bd-af266132022e a{
border-width: 0px;text-decoration: none}
#_90cf2bf8-b15e-55f9-8823-41a02395bd10 {
position:absolute;
top: 385px; 
left: 10px;
width: 940px;
height: 559px;
z-index: 34;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
}#_1d733594-aedb-9317-a9c8-e70b550f1cbc {
position:absolute;
top: 416px; 
left: 123px;
width: 715px;
height: 445px;
z-index: 36;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
}._5f54ca1c-b95f-6660-643c-33e95a8feb58{
height: 1px;left: 0px;top: 3435px;width: 960px;z-index: 38;position: absolute;border-width: 0px;background-color: #CCCCCC}
#_71831edb-b77f-1332-92d3-0bb4e38a8b05 {
position:absolute;
top: 3455px; 
left: 902px;
width:60px;
height:36px;
z-index: 40;
text-align:center;
}

#_71831edb-b77f-1332-92d3-0bb4e38a8b05 img{
margin:0 2px 0 2px;
}#_d3375c13-5ece-58f9-22de-bd3ecf9f510a {
cursor:pointer; 
color: #FFFFFF;
font-family: Bitter; 
font-size: 16px; 
font-weight :Normal; 
text-align:center;
text-shadow: #7C9D09 0px -1px 0px;
background-color: rgba(124,157,9,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7C9D09', endColorstr='#7C9D09');

background-position: top left;

    

    background: -moz-linear-gradient(top,  rgba(124,157,9,1.0) 0%, rgba(124,157,9,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,157,9,1.0)), color-stop(100%,rgba(124,157,9,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
position: absolute;
top: 300px; 
left: 395px;
width: 170px;
height: 50px;
z-index: 42;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}

#_d3375c13-5ece-58f9-22de-bd3ecf9f510a span{ line-height:50px;font-family:inherit;}
#_d3375c13-5ece-58f9-22de-bd3ecf9f510a a{ color:#FFFFFF; text-decoration:none;width: 170px;height: 50px;display: inline-block;font-family:inherit;}
#_d3375c13-5ece-58f9-22de-bd3ecf9f510a:hover a{ color:#FFFFFF; text-decoration:none}
#_d3375c13-5ece-58f9-22de-bd3ecf9f510a:active a{ color:#FFFFFF; text-decoration:none}

#_d3375c13-5ece-58f9-22de-bd3ecf9f510a:hover, #_d3375c13-5ece-58f9-22de-bd3ecf9f510a:focus {
background-color: rgba(99,125,7,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#637D07', endColorstr='#637D07');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

    
    background: -moz-linear-gradient(top,  rgba(99,125,7,1.0) 0%, rgba(99,125,7,1.0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,125,7,1.0)), color-stop(100%,rgba(99,125,7,1.0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;
text-shadow: #637D07 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
color:#FFFFFF;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;

}



#_d3375c13-5ece-58f9-22de-bd3ecf9f510a:active {
background-color: rgba(99,125,7,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#637D07', endColorstr='#637D07');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    
    
    background: -moz-linear-gradient(top,  rgba(99,125,7,1.0) 0%, rgba(99,125,7,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,125,7,1.0)), color-stop(100%,rgba(99,125,7,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* W3C */
        
background-repeat: no-repeat;
text-shadow: #637D07 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000; 
color:#FFFFFF;
-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}
#_3ea75362-6210-812a-7fd1-a89b0676a947 {
cursor:pointer; 
color: #FFFFFF;
font-family: Bitter; 
font-size: 22px; 
font-weight :Normal; 
text-align:center;
text-shadow: #7C9D09 0px -1px 0px;
background-color: rgba(124,157,9,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7C9D09', endColorstr='#7C9D09');

background-position: top left;

    

    background: -moz-linear-gradient(top,  rgba(124,157,9,1.0) 0%, rgba(124,157,9,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,157,9,1.0)), color-stop(100%,rgba(124,157,9,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
position: absolute;
top: 3325px; 
left: 290px;
width: 380px;
height: 60px;
z-index: 44;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}

#_3ea75362-6210-812a-7fd1-a89b0676a947 span{ line-height:60px;font-family:inherit;}
#_3ea75362-6210-812a-7fd1-a89b0676a947 a{ color:#FFFFFF; text-decoration:none;width: 380px;height: 60px;display: inline-block;font-family:inherit;}
#_3ea75362-6210-812a-7fd1-a89b0676a947:hover a{ color:#FFFFFF; text-decoration:none}
#_3ea75362-6210-812a-7fd1-a89b0676a947:active a{ color:#FFFFFF; text-decoration:none}

#_3ea75362-6210-812a-7fd1-a89b0676a947:hover, #_3ea75362-6210-812a-7fd1-a89b0676a947:focus {
background-color: rgba(99,125,7,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#637D07', endColorstr='#637D07');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

    
    background: -moz-linear-gradient(top,  rgba(99,125,7,1.0) 0%, rgba(99,125,7,1.0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,125,7,1.0)), color-stop(100%,rgba(99,125,7,1.0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;
text-shadow: #637D07 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
color:#FFFFFF;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;

}



#_3ea75362-6210-812a-7fd1-a89b0676a947:active {
background-color: rgba(99,125,7,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#637D07', endColorstr='#637D07');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    
    
    background: -moz-linear-gradient(top,  rgba(99,125,7,1.0) 0%, rgba(99,125,7,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,125,7,1.0)), color-stop(100%,rgba(99,125,7,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* W3C */
        
background-repeat: no-repeat;
text-shadow: #637D07 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000; 
color:#FFFFFF;
-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}
._cff3510d-2739-454a-26e8-058b10ec3e60{
height: 499px;left: 0px;top: 2658px;width: 956px;z-index: 46;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px}
._d2a8ccfe-6374-fdfa-943c-06cbb009f005{
height: 25px;left: 225px;top: 2670px;width: 497px;z-index: 48;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._d2a8ccfe-6374-fdfa-943c-06cbb009f005 *{
border-width: 0px;line-height: 1.4}
._d2a8ccfe-6374-fdfa-943c-06cbb009f005 a{
border-width: 0px;text-decoration: none}
#_ea3c7502-20c9-75a6-3180-74273685f957 {
position:absolute;
top: 2735px; 
left: 352px;
width: 240px;
height: 239px;
z-index: 50;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
}._6cac0f87-5f9c-fb0f-a457-f6724f818088{
height: 25px;left: 0px;top: 3010px;width: 960px;z-index: 52;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._6cac0f87-5f9c-fb0f-a457-f6724f818088 *{
border-width: 0px;line-height: 1.4}
._6cac0f87-5f9c-fb0f-a457-f6724f818088 a{
border-width: 0px;text-decoration: none}
._3db5b521-956c-c782-fe15-cc4d74e29761{
height: 25px;left: 62px;top: 3085px;width: 819px;z-index: 54;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._3db5b521-956c-c782-fe15-cc4d74e29761 *{
border-width: 0px;line-height: 1.4}
._3db5b521-956c-c782-fe15-cc4d74e29761 a{
border-width: 0px;text-decoration: none}
._2e9243fa-f690-329a-036b-425d7ba90fa0{
height: 1px;left: 589px;top: 2689px;width: 371px;z-index: 56;position: absolute;border-width: 0px;background-color: #DADADA}
._b7893ba5-00f1-9080-9d15-066f4756c714{
height: 1px;left: 0px;top: 2688px;width: 371px;z-index: 58;position: absolute;border-width: 0px;background-color: #DADADA}
._51c376bb-9ecf-ef29-3448-b0bd14e35dda{
height: 148px;left: 0px;top: 3171px;width: 960px;z-index: 60;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px}
._9d5ba169-0bb1-a667-c810-533deffde250{
height: 25px;left: 0px;top: 3245px;width: 960px;z-index: 62;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._9d5ba169-0bb1-a667-c810-533deffde250 *{
border-width: 0px;line-height: 1.4}
._9d5ba169-0bb1-a667-c810-533deffde250 a{
border-width: 0px;text-decoration: none}
._46e378a6-70f9-ad26-3623-7a634a642d69{
height: 25px;left: 233px;top: 3184px;width: 497px;z-index: 64;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._46e378a6-70f9-ad26-3623-7a634a642d69 *{
border-width: 0px;line-height: 1.4}
._46e378a6-70f9-ad26-3623-7a634a642d69 a{
border-width: 0px;text-decoration: none}
._b5588f3b-fbb2-eedc-dc2d-46f79db32379{
height: 1px;left: 1px;top: 3203px;width: 360px;z-index: 66;position: absolute;border-width: 0px;background-color: #DADADA}
._e7aa9f72-3a0a-0845-d86b-72f29c60aa48{
height: 1px;left: 600px;top: 3203px;width: 360px;z-index: 68;position: absolute;border-width: 0px;background-color: #DADADA}
._a790de6b-506d-ee07-30b4-de4a377c1935{
height: 706px;left: 0px;top: 1945px;width: 960px;z-index: 70;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px}
._537376d1-8c13-0b2c-730a-1fe9479ab218{
height: 25px;left: 241px;top: 1955px;width: 497px;z-index: 72;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._537376d1-8c13-0b2c-730a-1fe9479ab218 *{
border-width: 0px;line-height: 1.4}
._537376d1-8c13-0b2c-730a-1fe9479ab218 a{
border-width: 0px;text-decoration: none}
._ebb8b155-7a43-9276-e0fb-a458a7cb7139{
height: 1px;left: 0px;top: 1977px;width: 310px;z-index: 74;position: absolute;border-width: 0px;background-color: #DADADA}
._22f5110e-3e5c-4d4f-9a44-eb8085e8a10c{
height: 1px;left: 650px;top: 1977px;width: 310px;z-index: 76;position: absolute;border-width: 0px;background-color: #DADADA}
._814aa4ba-80d7-91a6-e402-3dd9ba1d5cf4{
height: 590px;left: 0px;top: 2040px;width: 310px;z-index: 78;position: absolute;background-color: rgba(218,218,218,1.0);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DADADA', endColorstr='#DADADA');border-style: none none none none;border-color: #000000;border-width: 1px}
#_4304838a-7a71-356c-5412-e37089360470 {
cursor:pointer; 
color: #FFFFFF;
font-family: Bitter; 
font-size: 16px; 
font-weight :Normal; 
text-align:center;
text-shadow: #7C9D09 0px -1px 0px;
background-color: rgba(124,157,9,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7C9D09', endColorstr='#7C9D09');

background-position: top left;

    

    background: -moz-linear-gradient(top,  rgba(124,157,9,1.0) 0%, rgba(124,157,9,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,157,9,1.0)), color-stop(100%,rgba(124,157,9,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
position: absolute;
top: 2554px; 
left: 70px;
width: 170px;
height: 50px;
z-index: 80;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}

#_4304838a-7a71-356c-5412-e37089360470 span{ line-height:50px;font-family:inherit;}
#_4304838a-7a71-356c-5412-e37089360470 a{ color:#FFFFFF; text-decoration:none;width: 170px;height: 50px;display: inline-block;font-family:inherit;}
#_4304838a-7a71-356c-5412-e37089360470:hover a{ color:#FFFFFF; text-decoration:none}
#_4304838a-7a71-356c-5412-e37089360470:active a{ color:#FFFFFF; text-decoration:none}

#_4304838a-7a71-356c-5412-e37089360470:hover, #_4304838a-7a71-356c-5412-e37089360470:focus {
background-color: rgba(99,125,7,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#637D07', endColorstr='#637D07');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

    
    background: -moz-linear-gradient(top,  rgba(99,125,7,1.0) 0%, rgba(99,125,7,1.0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,125,7,1.0)), color-stop(100%,rgba(99,125,7,1.0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;
text-shadow: #637D07 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
color:#FFFFFF;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;

}



#_4304838a-7a71-356c-5412-e37089360470:active {
background-color: rgba(99,125,7,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#637D07', endColorstr='#637D07');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    
    
    background: -moz-linear-gradient(top,  rgba(99,125,7,1.0) 0%, rgba(99,125,7,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,125,7,1.0)), color-stop(100%,rgba(99,125,7,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* W3C */
        
background-repeat: no-repeat;
text-shadow: #637D07 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000; 
color:#FFFFFF;
-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}
._be95d4ef-a868-098d-c4b2-e0bc33511582{
height: 33px;left: 0px;top: 2060px;width: 310px;z-index: 82;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._be95d4ef-a868-098d-c4b2-e0bc33511582 *{
border-width: 0px;line-height: 1.4}
._be95d4ef-a868-098d-c4b2-e0bc33511582 a{
border-width: 0px;text-decoration: none}
._21ac6393-96a7-0839-2e9e-90042ed79a79{
height: 25px;left: 0px;top: 2130px;width: 310px;z-index: 84;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._21ac6393-96a7-0839-2e9e-90042ed79a79 *{
border-width: 0px;line-height: 1.4}
._21ac6393-96a7-0839-2e9e-90042ed79a79 a{
border-width: 0px;text-decoration: none}
._c8687d5a-de3b-0c55-a70a-f3a1c4fbffc0{
height: 1px;left: 0px;top: 2170px;width: 310px;z-index: 86;position: absolute;border-width: 0px;background-color: #CCCCCC}
._4b91a693-77c6-bd8f-c45d-d0f42b84d65d{
height: 25px;left: 0px;top: 2190px;width: 310px;z-index: 88;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._4b91a693-77c6-bd8f-c45d-d0f42b84d65d *{
border-width: 0px;line-height: 1.4}
._4b91a693-77c6-bd8f-c45d-d0f42b84d65d a{
border-width: 0px;text-decoration: none}
._e4bd7891-68d1-b9ac-75de-7c7117501c59{
height: 1px;left: 0px;top: 2230px;width: 310px;z-index: 90;position: absolute;border-width: 0px;background-color: #CCCCCC}
._71c7cdea-0402-16a4-c9e1-2b90a9dc4bea{
height: 25px;left: 0px;top: 2250px;width: 310px;z-index: 92;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._71c7cdea-0402-16a4-c9e1-2b90a9dc4bea *{
border-width: 0px;line-height: 1.4}
._71c7cdea-0402-16a4-c9e1-2b90a9dc4bea a{
border-width: 0px;text-decoration: none}
._8ddbbd0b-55bb-53be-fd85-ccd5cb565308{
height: 1px;left: 0px;top: 2290px;width: 310px;z-index: 94;position: absolute;border-width: 0px;background-color: #CCCCCC}
._dedf5723-3a80-eca8-a5d0-c8e339de4c11{
height: 25px;left: 0px;top: 2310px;width: 310px;z-index: 96;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._dedf5723-3a80-eca8-a5d0-c8e339de4c11 *{
border-width: 0px;line-height: 1.4}
._dedf5723-3a80-eca8-a5d0-c8e339de4c11 a{
border-width: 0px;text-decoration: none}
._e9fe9ad3-2be8-4ff2-827d-8ef7f7c25216{
height: 1px;left: 0px;top: 2350px;width: 310px;z-index: 98;position: absolute;border-width: 0px;background-color: #CCCCCC}
._9567c681-eaa0-64bf-031a-496a8cf71400{
height: 25px;left: 0px;top: 2370px;width: 310px;z-index: 100;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._9567c681-eaa0-64bf-031a-496a8cf71400 *{
border-width: 0px;line-height: 1.4}
._9567c681-eaa0-64bf-031a-496a8cf71400 a{
border-width: 0px;text-decoration: none}
._ac040925-b472-6de8-4e9e-44fb2af83b3b{
height: 1px;left: 0px;top: 2410px;width: 310px;z-index: 102;position: absolute;border-width: 0px;background-color: #CCCCCC}
._1875313e-e151-95aa-52df-f9de60b20d4b{
height: 1px;left: 0px;top: 2110px;width: 310px;z-index: 104;position: absolute;border-width: 0px;background-color: #CCCCCC}
._8eaee3bc-2391-a910-afc1-bc6ed4669898{
height: 25px;left: 0px;top: 2440px;width: 310px;z-index: 106;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._8eaee3bc-2391-a910-afc1-bc6ed4669898 *{
border-width: 0px;line-height: 1.4}
._8eaee3bc-2391-a910-afc1-bc6ed4669898 a{
border-width: 0px;text-decoration: none}
._7b50983f-b96c-c2db-e1fe-fad225fadbfc{
height: 25px;left: 0px;top: 2499px;width: 310px;z-index: 108;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._7b50983f-b96c-c2db-e1fe-fad225fadbfc *{
border-width: 0px;line-height: 1.4}
._7b50983f-b96c-c2db-e1fe-fad225fadbfc a{
border-width: 0px;text-decoration: none}
._f4137b56-5242-4991-d05f-dd3921e16f45{
height: 590px;left: 330px;top: 2040px;width: 300px;z-index: 110;position: absolute;background-color: rgba(218,218,218,1.0);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DADADA', endColorstr='#DADADA');border-style: none none none none;border-color: #000000;border-width: 1px}
#_4198e3e8-40e9-8463-b3b2-f5acad84fbd5 {
cursor:pointer; 
color: #FFFFFF;
font-family: Bitter; 
font-size: 16px; 
font-weight :Normal; 
text-align:center;
text-shadow: #7C9D09 0px -1px 0px;
background-color: rgba(124,157,9,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7C9D09', endColorstr='#7C9D09');

background-position: top left;

    

    background: -moz-linear-gradient(top,  rgba(124,157,9,1.0) 0%, rgba(124,157,9,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,157,9,1.0)), color-stop(100%,rgba(124,157,9,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(124,157,9,1.0) 0%,rgba(124,157,9,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
position: absolute;
top: 2554px; 
left: 400px;
width: 170px;
height: 50px;
z-index: 112;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}

#_4198e3e8-40e9-8463-b3b2-f5acad84fbd5 span{ line-height:50px;font-family:inherit;}
#_4198e3e8-40e9-8463-b3b2-f5acad84fbd5 a{ color:#FFFFFF; text-decoration:none;width: 170px;height: 50px;display: inline-block;font-family:inherit;}
#_4198e3e8-40e9-8463-b3b2-f5acad84fbd5:hover a{ color:#FFFFFF; text-decoration:none}
#_4198e3e8-40e9-8463-b3b2-f5acad84fbd5:active a{ color:#FFFFFF; text-decoration:none}

#_4198e3e8-40e9-8463-b3b2-f5acad84fbd5:hover, #_4198e3e8-40e9-8463-b3b2-f5acad84fbd5:focus {
background-color: rgba(99,125,7,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#637D07', endColorstr='#637D07');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

    
    background: -moz-linear-gradient(top,  rgba(99,125,7,1.0) 0%, rgba(99,125,7,1.0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,125,7,1.0)), color-stop(100%,rgba(99,125,7,1.0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;
text-shadow: #637D07 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
color:#FFFFFF;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;

}



#_4198e3e8-40e9-8463-b3b2-f5acad84fbd5:active {
background-color: rgba(99,125,7,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#637D07', endColorstr='#637D07');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    
    
    background: -moz-linear-gradient(top,  rgba(99,125,7,1.0) 0%, rgba(99,125,7,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,125,7,1.0)), color-stop(100%,rgba(99,125,7,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(99,125,7,1.0) 0%,rgba(99,125,7,1.0) 100%); /* W3C */
        
background-repeat: no-repeat;
text-shadow: #2C7C51 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000; 
color:#FFFFFF;
-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}
._c6ddb433-181a-42b7-ab5f-b6eb43d95a51{
height: 33px;left: 330px;top: 2060px;width: 310px;z-index: 114;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._c6ddb433-181a-42b7-ab5f-b6eb43d95a51 *{
border-width: 0px;line-height: 1.4}
._c6ddb433-181a-42b7-ab5f-b6eb43d95a51 a{
border-width: 0px;text-decoration: none}
._0ecac3ad-0a72-b7eb-ad84-5bd9a539df85{
height: 25px;left: 330px;top: 2130px;width: 300px;z-index: 116;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._0ecac3ad-0a72-b7eb-ad84-5bd9a539df85 *{
border-width: 0px;line-height: 1.4}
._0ecac3ad-0a72-b7eb-ad84-5bd9a539df85 a{
border-width: 0px;text-decoration: none}
._623f9ef5-cf67-3a22-a30c-1d009bb54f9c{
height: 1px;left: 330px;top: 2170px;width: 300px;z-index: 118;position: absolute;border-width: 0px;background-color: #CCCCCC}
._bb28e606-a5dd-d836-7e92-048aa4ab2f61{
height: 1px;left: 330px;top: 2230px;width: 300px;z-index: 120;position: absolute;border-width: 0px;background-color: #CCCCCC}
._73a42e97-72ee-f01c-6c38-5ccf068b80f3{
height: 25px;left: 330px;top: 2250px;width: 300px;z-index: 122;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._73a42e97-72ee-f01c-6c38-5ccf068b80f3 *{
border-width: 0px;line-height: 1.4}
._73a42e97-72ee-f01c-6c38-5ccf068b80f3 a{
border-width: 0px;text-decoration: none}
._eb472e8d-f45e-2077-bc15-d58a91e4c206{
height: 1px;left: 330px;top: 2290px;width: 300px;z-index: 124;position: absolute;border-width: 0px;background-color: #CCCCCC}
._09ff34b9-3a0d-c0a7-ffdc-12da76dfba99{
height: 25px;left: 330px;top: 2310px;width: 300px;z-index: 126;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._09ff34b9-3a0d-c0a7-ffdc-12da76dfba99 *{
border-width: 0px;line-height: 1.4}
._09ff34b9-3a0d-c0a7-ffdc-12da76dfba99 a{
border-width: 0px;text-decoration: none}
._11146a23-106c-f14b-37a0-e0c5c3ee64a1{
height: 1px;left: 330px;top: 2350px;width: 300px;z-index: 128;position: absolute;border-width: 0px;background-color: #CCCCCC}
._721d407d-fa2f-a9e1-1ff1-eb26da76a90f{
height: 25px;left: 330px;top: 2370px;width: 300px;z-index: 130;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._721d407d-fa2f-a9e1-1ff1-eb26da76a90f *{
border-width: 0px;line-height: 1.4}
._721d407d-fa2f-a9e1-1ff1-eb26da76a90f a{
border-width: 0px;text-decoration: none}
._92760056-17c0-2dff-1b68-a6a43fcedcec{
height: 1px;left: 330px;top: 2410px;width: 300px;z-index: 132;position: absolute;border-width: 0px;background-color: #CCCCCC}
._e2c8c0c9-f12a-58fc-da71-e5e0f27dc516{
height: 1px;left: 330px;top: 2110px;width: 300px;z-index: 134;position: absolute;border-width: 0px;background-color: #CCCCCC}
._64709eb6-aa36-a7cd-c5e9-d58a4d3f95ba{
height: 25px;left: 330px;top: 2440px;width: 300px;z-index: 136;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._64709eb6-aa36-a7cd-c5e9-d58a4d3f95ba *{
border-width: 0px;line-height: 1.4}
._64709eb6-aa36-a7cd-c5e9-d58a4d3f95ba a{
border-width: 0px;text-decoration: none}
._d4aa99b4-c0cf-acc5-a00c-3da84b266985{
height: 25px;left: 330px;top: 2499px;width: 300px;z-index: 138;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._d4aa99b4-c0cf-acc5-a00c-3da84b266985 *{
border-width: 0px;line-height: 1.4}
._d4aa99b4-c0cf-acc5-a00c-3da84b266985 a{
border-width: 0px;text-decoration: none}
._737ab613-e894-b6dd-d8ae-f8c9cd21e8f6{
height: 25px;left: 330px;top: 2190px;width: 300px;z-index: 140;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._737ab613-e894-b6dd-d8ae-f8c9cd21e8f6 *{
border-width: 0px;line-height: 1.4}
._737ab613-e894-b6dd-d8ae-f8c9cd21e8f6 a{
border-width: 0px;text-decoration: none}
._95febcc1-1559-c4d3-be4f-d3d460b6fc83{
height: 590px;left: 650px;top: 2040px;width: 310px;z-index: 142;position: absolute;background-color: rgba(124,157,9,1.0);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7C9D09', endColorstr='#7C9D09');border-style: none none none none;border-color: #000000;border-width: 1px}
#_3d174906-978e-d469-8822-1d83f7283041 {
cursor:pointer; 
color: #7C9D09;
font-family: Bitter; 
font-size: 16px; 
font-weight :Normal; 
text-align:center;
text-shadow: #FFFFFF 0px -1px 0px;
background-color: rgba(255,255,255,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#FFFFFF');

background-position: top left;

    

    background: -moz-linear-gradient(top,  rgba(255,255,255,1.0) 0%, rgba(255,255,255,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1.0)), color-stop(100%,rgba(255,255,255,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1.0) 0%,rgba(255,255,255,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1.0) 0%,rgba(255,255,255,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1.0) 0%,rgba(255,255,255,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1.0) 0%,rgba(255,255,255,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
position: absolute;
top: 2554px; 
left: 720px;
width: 170px;
height: 50px;
z-index: 144;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}

#_3d174906-978e-d469-8822-1d83f7283041 span{ line-height:50px;font-family:inherit;}
#_3d174906-978e-d469-8822-1d83f7283041 a{ color:#7C9D09; text-decoration:none;width: 170px;height: 50px;display: inline-block;font-family:inherit;}
#_3d174906-978e-d469-8822-1d83f7283041:hover a{ color:#7C9D09; text-decoration:none}
#_3d174906-978e-d469-8822-1d83f7283041:active a{ color:#7C9D09; text-decoration:none}

#_3d174906-978e-d469-8822-1d83f7283041:hover, #_3d174906-978e-d469-8822-1d83f7283041:focus {
background-color: rgba(218,218,218,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DADADA', endColorstr='#DADADA');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    

    
    background: -moz-linear-gradient(top,  rgba(218,218,218,1.0) 0%, rgba(218,218,218,1.0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(218,218,218,1.0)), color-stop(100%,rgba(218,218,218,1.0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(218,218,218,1.0) 0%,rgba(218,218,218,1.0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(218,218,218,1.0) 0%,rgba(218,218,218,1.0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(218,218,218,1.0) 0%,rgba(218,218,218,1.0) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(218,218,218,1.0) 0%,rgba(218,218,218,1.0) 100%); /* W3C */
    
background-repeat: no-repeat;
text-shadow: #DADADA 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000;
color:#7C9D09;

-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;

}



#_3d174906-978e-d469-8822-1d83f7283041:active {
background-color: rgba(218,218,218,1.0);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DADADA', endColorstr='#DADADA');

background-position: top left;


-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    
    
    background: -moz-linear-gradient(top,  rgba(218,218,218,1.0) 0%, rgba(218,218,218,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(218,218,218,1.0)), color-stop(100%,rgba(218,218,218,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(218,218,218,1.0) 0%,rgba(218,218,218,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(218,218,218,1.0) 0%,rgba(218,218,218,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(218,218,218,1.0) 0%,rgba(218,218,218,1.0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(218,218,218,1.0) 0%,rgba(218,218,218,1.0) 100%); /* W3C */
        
background-repeat: no-repeat;
text-shadow: #DADADA 0px -1px 0px;
border-top: 1px  none #000000;
border-right: 1px  none #000000;
border-bottom: 1px  none #000000;
border-left: 1px  none #000000; 
color:#7C9D09;
-webkit-border-radius: 4px;
-moz-border-radius:  4px;
border-radius:  4px;
}
._27d274e5-8d33-57c4-d233-4caa68be19db{
height: 33px;left: 650px;top: 2060px;width: 310px;z-index: 146;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._27d274e5-8d33-57c4-d233-4caa68be19db *{
border-width: 0px;line-height: 1.4}
._27d274e5-8d33-57c4-d233-4caa68be19db a{
border-width: 0px;text-decoration: none}
._f950da9b-fe07-fc28-f475-c38005d3f6a5{
height: 25px;left: 650px;top: 2130px;width: 310px;z-index: 148;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._f950da9b-fe07-fc28-f475-c38005d3f6a5 *{
border-width: 0px;line-height: 1.4}
._f950da9b-fe07-fc28-f475-c38005d3f6a5 a{
border-width: 0px;text-decoration: none}
._9ec7eca9-0927-318c-3189-66a827c73c57{
height: 1px;left: 650px;top: 2170px;width: 310px;z-index: 150;position: absolute;border-width: 0px;background-color: #8CA630}
._7f87de3e-d138-3a57-0b3c-c0794312e093{
height: 25px;left: 650px;top: 2190px;width: 310px;z-index: 152;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._7f87de3e-d138-3a57-0b3c-c0794312e093 *{
border-width: 0px;line-height: 1.4}
._7f87de3e-d138-3a57-0b3c-c0794312e093 a{
border-width: 0px;text-decoration: none}
._9cfcd7d3-3acf-4d03-687a-47e2dfc94f72{
height: 1px;left: 650px;top: 2230px;width: 310px;z-index: 154;position: absolute;border-width: 0px;background-color: #8CA630}
._e786153c-4fb1-a3ee-bb95-2c317e33696c{
height: 25px;left: 650px;top: 2250px;width: 310px;z-index: 156;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._e786153c-4fb1-a3ee-bb95-2c317e33696c *{
border-width: 0px;line-height: 1.4}
._e786153c-4fb1-a3ee-bb95-2c317e33696c a{
border-width: 0px;text-decoration: none}
._2cea26a4-685f-7a3e-9c4f-129159adcc92{
height: 1px;left: 650px;top: 2290px;width: 310px;z-index: 158;position: absolute;border-width: 0px;background-color: #8CA630}
._cc92cc28-6f48-d3d5-1523-6392a4ff38c8{
height: 25px;left: 650px;top: 2310px;width: 310px;z-index: 160;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._cc92cc28-6f48-d3d5-1523-6392a4ff38c8 *{
border-width: 0px;line-height: 1.4}
._cc92cc28-6f48-d3d5-1523-6392a4ff38c8 a{
border-width: 0px;text-decoration: none}
._78035071-a170-8a7d-9bd8-423e72a882e6{
height: 1px;left: 650px;top: 2350px;width: 310px;z-index: 162;position: absolute;border-width: 0px;background-color: #8CA630}
._698a3f7a-3c5d-50de-e344-9ce068439712{
height: 25px;left: 650px;top: 2370px;width: 310px;z-index: 164;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._698a3f7a-3c5d-50de-e344-9ce068439712 *{
border-width: 0px;line-height: 1.4}
._698a3f7a-3c5d-50de-e344-9ce068439712 a{
border-width: 0px;text-decoration: none}
._0dbbc79b-41f5-8f45-4c19-c46f9e20ce74{
height: 1px;left: 650px;top: 2410px;width: 310px;z-index: 166;position: absolute;border-width: 0px;background-color: #8CA630}
._d18ecc1b-0647-38f8-3c08-e33a5c0963f2{
height: 1px;left: 650px;top: 2110px;width: 310px;z-index: 168;position: absolute;border-width: 0px;background-color: #8CA630}
._7e3f136b-e45e-a981-fc43-5244ea6a5991{
height: 25px;left: 650px;top: 2440px;width: 310px;z-index: 170;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._7e3f136b-e45e-a981-fc43-5244ea6a5991 *{
border-width: 0px;line-height: 1.4}
._7e3f136b-e45e-a981-fc43-5244ea6a5991 a{
border-width: 0px;text-decoration: none}
._f489ebe6-da33-b381-8de6-7be9d940f6e4{
height: 25px;left: 650px;top: 2499px;width: 310px;z-index: 172;position: absolute;background-color: rgba(0,0,0,0);border-style: none none none none;border-color: #000000;border-width: 1px;font-size: 10pt}
._f489ebe6-da33-b381-8de6-7be9d940f6e4 *{
border-width: 0px;line-height: 1.4}
._f489ebe6-da33-b381-8de6-7be9d940f6e4 a{
border-width: 0px;text-decoration: none}
.inner_body{
background-color: rgba(241,241,241,1.0);background-color: #F1F1F1;background-image: url(http://landerstorage.blob.core.windows.net/lander-images/templates/0000000036/desktop/image_62753650-bcca-43e5-b0bd-fe08ab34e448_);background-repeat: repeat-x;background-position: top 30px left;border-width: 0px;background-position: top 30px}

#removeBranding div{text-align: center;max-width: 600px;margin: 20px auto;}
.submit-button{text-shadow: 0 -1px 0px #1F658F;letter-spacing:0.2px;padding:5px 30px 5px 30px;background-color:#3392CC;border:5px solid #DFEFF8;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;font-weight:bold;color:#fff;cursor:pointer;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
#brandfooterbottom { cursor: pointer;}
.submit-button:hover{background-color:#001F31;}
.remove-branding-button{text-decoration:none;font-size:14px;outline:none;}
.button-black{background-color:#363636;text-shadow: none;letter-spacing: 0;}
.button-black:hover{background-color:#DFEFF8;color:#363636;text-shadow: none;}
.remove-branding-footer{margin-right: 10px;font-size: 14px;text-decoration: none;margin-top: 8px;float:right;text-shadow:none;}
.hr-separator-default{width:100%;background: #D4EAF6;height: 1px;}
.grey-text-default{color: #193345;opacity: 0.5;filter: alpha(opacity=0.5);font-size: 13px;}
.black-title-default{display: inline-block;font-size: 25px;color: #001F31;font-weight: bold;}
.branding-footer-fixed{position:fixed;bottom:0;width:100%;}
.branding-img{margin-top:16px;position:relative;}
#brandfootertop .img-container{position:relative;width:56%;float:left;text-align:right;}
#brandfootertop .button-container{position:relative;width:44%;float:right;text-align:right;}