{% extends "base_3_template.html" %}

{% load static %}

{% block css %}

    <link href='//fonts.googleapis.com/css?family=Lobster|Roboto:400,900,700' type='text/css' rel='stylesheet'>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="{% static 'theme_pages_files/theme_page_5/css/EditorHeader.css' %}" rel="stylesheet">
    <link href="{% static 'theme_pages_files/theme_page_5/css/EditorHeader.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theme_pages_files/theme_page_5/css/css' %}">
    <link rel="stylesheet" href="{% static 'theme_pages_files/theme_page_5/css/reset.css' %}">

    <link href="{% static 'theme_pages_files/theme_page_5/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard_files/font-awesome/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'global_files/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'global_files/css/editable-page.css' %}" rel="stylesheet">


{% endblock css %}

<link id="page_favicon" href="http://cloud.landerapp.com/Content/Images/favicon.ico?v=20140725124313" rel="icon"
      type="image/x-icon">

<script async="true" type="text/javascript"
        src="{% static 'theme_pages_files/theme_page_5/img/BOGC7CSF3ZBZND725TWNQU.png' %}"></script>


{% block content %}

    <div class="framed-preview">

        <div id="content" class="content">
            <div id="_a90b1747-b20a-5737-d36c-921c17458e21" class="_a90b1747-b20a-5737-d36c-921c17458e21">
                <p align="center"><span
                        style="font-size: 50px; line-height: 1.05; font-family: Bitter, serif; font-weight: bold; letter-spacing: -1px;">
                                                    <label>

                                                        Try the Best App on the Market
                                                    </label><input class="clickedit" type="text"/><div
                        class="clearfix"></div>

                </span>
                </p>
            </div>
            <div id="_b7bd450e-70c8-9bfa-2731-54adb7c91d78" class="_b7bd450e-70c8-9bfa-2731-54adb7c91d78">

            </div>
            <div id="_3ee087b9-d0b9-06a5-6fe0-daaaf48b120a" class="_3ee087b9-d0b9-06a5-6fe0-daaaf48b120a">
                <p align="center">

                    <span style="font-family: arial,serif; line-height: 1.4; color: #333333;">
                        <span style="font-family: Bitter, serif; font-size: 28px; letter-spacing: -1px;">
                                <label>
                                    Our Amazing App.
                                </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                        </span>

                        <span style="font-family: Bitter, serif; font-size: 28px; color: #7b9d08; letter-spacing: -1px; line-height: 1.4;">
                                <label>
                                    What is it about?
                                </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                        </span>
                    </span>

                </p>
            </div>
            <div id="_0acf220e-a8a0-f1d0-53c4-8df04eb38844" class="_0acf220e-a8a0-f1d0-53c4-8df04eb38844">
                <p><span
                        style="font-family: Bitter, serif; font-size: 22px; color: #333333; line-height: 1.1; letter-spacing: -1px;">
                    <label>
                        Amazing feature #2
                    </label><input class="clickedit" type="text"/><div class="clearfix"></div>

                </span>
                </p>
            </div>
            <div id="_649e64a5-20f9-620a-f0b2-6fe08d2b4532" class="_649e64a5-20f9-620a-f0b2-6fe08d2b4532">
                <p><span
                        style="font-family: Bitter, serif; font-size: 22px; color: #333333; line-height: 1.1; letter-spacing: -1px;">
                    <label>
                        Amazing feature #3
                    </label><input class="clickedit" type="text"/><div class="clearfix"></div>


                </span>
                </p>
            </div>
            <div id="_f5dc1e68-015b-a545-1ed6-cc1c8d13e35c" class="_f5dc1e68-015b-a545-1ed6-cc1c8d13e35c">
                <p><span style="font-family: Bitter, serif; font-size: 13px; color: #666666; line-height: 1.4;"><label
                        >Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et
                    orci elit duis gravida varius ipsum, sed lobortis quam.
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>

                    <br><br> <label>Duis id egestas lectus lacus eros, venenatis eu dignissim sed
                        imperdiet et orci elit.
                    </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span>
                </p>

                <p><strong><span style="font-family: Bitter, serif; font-size: 13px; color: #666666;"><br><label
                        >Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet.
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span></strong>
                </p>
            </div>
            <div id="_9cd97e7b-0d5c-3a39-e87e-7dab592eab2e" class="_9cd97e7b-0d5c-3a39-e87e-7dab592eab2e">

            </div>
            <div id="_3b7d54cb-7a39-31f5-0917-400bba7bfe3e" class="_3b7d54cb-7a39-31f5-0917-400bba7bfe3e">

            </div>
            <div id="_2224ddd9-9fc5-0286-98e2-463261932637" class="_2224ddd9-9fc5-0286-98e2-463261932637">
                <p><span style="font-family: Bitter, serif; font-size: 13px; color: #666666; line-height: 1.4;"><label
                        >Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et
                    orci elit duis gravida varius ipsum, sed lobortis quam.
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>

                    <br><br> <label>Duis id egestas lectus lacus eros, venenatis eu dignissim sed
                        imperdiet et orci elit.
                    </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span>
                </p>

                <p><strong><span style="font-family: Bitter, serif; font-size: 13px; color: #666666;"><br><label
                        >Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet.
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span></strong>
                </p>
            </div>
            <div id="_c6ae3a17-41e6-9885-1c16-00e4d5ed1be5" class="_c6ae3a17-41e6-9885-1c16-00e4d5ed1be5">
                <p><span style="font-family: Bitter, serif; font-size: 13px; color: #666666; line-height: 1.4;"><label
                        >Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et
                    orci elit duis gravida varius ipsum, sed lobortis quam.
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>

                    <br><br> <label>Duis id egestas lectus lacus eros, venenatis eu dignissim sed
                        imperdiet et orci elit.
                    </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span>
                </p>

                <p><strong><span style="font-family: Bitter, serif; font-size: 13px; color: #666666;"><br><label
                        >Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet.
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span></strong>
                </p>
            </div>
            <div id="_4ac948ae-1205-5d02-25b9-0195e521271b" class="_4ac948ae-1205-5d02-25b9-0195e521271b">
                <p><span
                        style="font-family: Bitter, serif; font-size: 22px; color: #333333; line-height: 1.1; letter-spacing: -1px;"><label
                        >Amazing feature #1
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span>
                </p>
            </div>
            <div id="_bb8c1e9f-1166-0de2-430a-ccfba0fb6d47">
                <img src="{% static 'theme_pages_files/theme_page_5/img/image_797a3cae-dadb-4b98-846b-9246466b26d5_.png' %}"
                     height="54" width="223"
                     alt="">


            </div>
            <div id="_45a50c0c-4585-ebe8-fc74-7f9b2dc52465" class="_45a50c0c-4585-ebe8-fc74-7f9b2dc52465">
                <p align="center"><span
                        style="font-family: Bitter,serif; font-size: 15px; line-height: 1.4;"><label
                        >Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et
                    orci elit duis gravida varius ipsum, sed lobortis quam.
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span>
                </p>

                <p align="center"><span
                        style="font-family: Bitter,serif; font-size: 15px; line-height: 1.4;"><label>Duis id egestas
                    lectus lacus eros, venenatis eu dignissim sed imperdiet et
                    orci elit.
                </label><input class="clickedit" type="text"/>

                <div class="clearfix"></div>
                </span>
                </p>
            </div>
            <div id="_bdf7cbcd-0bbe-2e78-ecec-d3ed662e68db" class="_bdf7cbcd-0bbe-2e78-ecec-d3ed662e68db">

            </div>
            <div id="_d84c36b4-bed6-2cad-5977-a1b570ef2a83">

                <iframe style="z-index:0;width:100%;height:100%"
                        src="{% static 'theme_pages_files/theme_page_5/67212164.html' %}"
                        frameborder="0"></iframe>
            </div>

            <div id="_90cf2bf8-b15e-55f9-8823-41a02395bd10">
                <img src="{% static 'theme_pages_files/theme_page_5/img/image_02cbdb9a-6ab8-4748-b58f-03b4cff82b35_.png' %}"
                     height="559" width="940"
                     alt="">


            </div>
            <div id="_1d733594-aedb-9317-a9c8-e70b550f1cbc">
                <img src="{% static 'theme_pages_files/theme_page_5/img/image_3ec92dfd-39a9-4ce7-845f-aea0ba33c2f1_.png' %}"
                     height="445" width="715"
                     alt="">


            </div>
            <div id="_5f54ca1c-b95f-6660-643c-33e95a8feb58" class="_5f54ca1c-b95f-6660-643c-33e95a8feb58">

            </div>

            <div id="_d3375c13-5ece-58f9-22de-bd3ecf9f510a">
                <a target="_self">
                    <span>Try it for Free</span>
                </a>
            </div>
            <div id="_3ea75362-6210-812a-7fd1-a89b0676a947">
                <a target="_self"
                   href="http://cloud.landerapp.com/LandingPages/Editor/Preview?landingPageId=99463&variantId=213834#">
                    <span>Request a Demo</span>
                </a>
            </div>
            <div id="_cff3510d-2739-454a-26e8-058b10ec3e60" class="_cff3510d-2739-454a-26e8-058b10ec3e60">

            </div>
            <div id="_d2a8ccfe-6374-fdfa-943c-06cbb009f005" class="_d2a8ccfe-6374-fdfa-943c-06cbb009f005">
                <p align="center"><strong><span style="font-family: Bitter,serif; font-size: 28px; color: #333333;">
                                        <label>
                                            Testimonials
                                        </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span></strong>
                </p>
            </div>
            <div id="_ea3c7502-20c9-75a6-3180-74273685f957">
                <img src="{% static 'theme_pages_files/theme_page_5/img/image_54d84c92-25af-4562-9deb-aca6526f4f12_.png' %} "
                     height="239" width="240"
                     alt="">


            </div>
            <div id="_6cac0f87-5f9c-fb0f-a457-f6724f818088" class="_6cac0f87-5f9c-fb0f-a457-f6724f818088">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #666666; letter-spacing: -1px; line-height: 1.4;">
                    <label>
                        “Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit duis
                        gravida varius ipsum, sed lobortis quam. Duis id egestas lectus”
                    </label>
                        <input class="clickedit" type="text"/>

                <div class="clearfix"></div>


                </span>
                </p>
            </div>
            <div id="_3db5b521-956c-c782-fe15-cc4d74e29761" class="_3db5b521-956c-c782-fe15-cc4d74e29761">
                <p align="center"><span style="font-family: arial,serif; font-size: small; color: #7a9d07;"><span
                        style="font-family: Bitter, serif; font-size: 13px;"><label>Nick Rivers,
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span> <span style="font-family: Bitter, serif; font-size: 13px; color: #666666;"><p align="center">
                    <label>C.E.O
                        - Company Name
                    </label></p><input class="clickedit" type="text"/><div class="clearfix"></div>

                </span></span>
                </p>
            </div>
            <div id="_2e9243fa-f690-329a-036b-425d7ba90fa0" class="_2e9243fa-f690-329a-036b-425d7ba90fa0">

            </div>
            <div id="_b7893ba5-00f1-9080-9d15-066f4756c714" class="_b7893ba5-00f1-9080-9d15-066f4756c714">

            </div>
            <div id="_51c376bb-9ecf-ef29-3448-b0bd14e35dda" class="_51c376bb-9ecf-ef29-3448-b0bd14e35dda">

            </div>
            <div id="_9d5ba169-0bb1-a667-c810-533deffde250" class="_9d5ba169-0bb1-a667-c810-533deffde250">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px; color: #666666; line-height: 1.4;"><label
                        >Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et
                    orci elit duis gravida varius ipsum, sed lobortis quam. Duis id egestas lectus lacus eros, venenatis
                    eu dignissim sed imperdiet et orci elit.
                </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span>
                </p>
            </div>
            <div id="_46e378a6-70f9-ad26-3623-7a634a642d69" class="_46e378a6-70f9-ad26-3623-7a634a642d69">
                <p align="center"><strong><span
                        style="font-family: Bitter,serif; font-size: 28px; color: #333333; letter-spacing: -1px; line-height: 1.4;">
                    <label>
                        Not sure yet?
                    </label><input class="clickedit" type="text"/><div class="clearfix"></div>
                </span></strong>
                </p>
            </div>
            <div id="_b5588f3b-fbb2-eedc-dc2d-46f79db32379" class="_b5588f3b-fbb2-eedc-dc2d-46f79db32379">

            </div>
            <div id="_e7aa9f72-3a0a-0845-d86b-72f29c60aa48" class="_e7aa9f72-3a0a-0845-d86b-72f29c60aa48">

            </div>
            <div id="_a790de6b-506d-ee07-30b4-de4a377c1935" class="_a790de6b-506d-ee07-30b4-de4a377c1935">

            </div>
            <div id="_537376d1-8c13-0b2c-730a-1fe9479ab218" class="_537376d1-8c13-0b2c-730a-1fe9479ab218">
                <p align="center"><strong><span
                        style="font-family: Bitter,serif; font-size: 32px;">Pricing List</span></strong></p>
            </div>
            <div id="_ebb8b155-7a43-9276-e0fb-a458a7cb7139" class="_ebb8b155-7a43-9276-e0fb-a458a7cb7139">

            </div>
            <div id="_22f5110e-3e5c-4d4f-9a44-eb8085e8a10c" class="_22f5110e-3e5c-4d4f-9a44-eb8085e8a10c">

            </div>
            <div id="_814aa4ba-80d7-91a6-e402-3dd9ba1d5cf4" class="_814aa4ba-80d7-91a6-e402-3dd9ba1d5cf4">

            </div>
            <div id="_4304838a-7a71-356c-5412-e37089360470">
                <a target="_self">
                    <span>Buy now</span>
                </a>
            </div>
            <div id="_be95d4ef-a868-098d-c4b2-e0bc33511582" class="_be95d4ef-a868-098d-c4b2-e0bc33511582">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #333333; letter-spacing: -1px; line-height: 1.4;">BASIC PLAN</span>
                </p>
            </div>
            <div id="_21ac6393-96a7-0839-2e9e-90042ed79a79" class="_21ac6393-96a7-0839-2e9e-90042ed79a79">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 01</span>
                </p>
            </div>
            <div id="_c8687d5a-de3b-0c55-a70a-f3a1c4fbffc0" class="_c8687d5a-de3b-0c55-a70a-f3a1c4fbffc0">

            </div>
            <div id="_4b91a693-77c6-bd8f-c45d-d0f42b84d65d" class="_4b91a693-77c6-bd8f-c45d-d0f42b84d65d">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 02</span>
                </p>
            </div>
            <div id="_e4bd7891-68d1-b9ac-75de-7c7117501c59" class="_e4bd7891-68d1-b9ac-75de-7c7117501c59">

            </div>
            <div id="_71c7cdea-0402-16a4-c9e1-2b90a9dc4bea" class="_71c7cdea-0402-16a4-c9e1-2b90a9dc4bea">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 03</span>
                </p>
            </div>
            <div id="_8ddbbd0b-55bb-53be-fd85-ccd5cb565308" class="_8ddbbd0b-55bb-53be-fd85-ccd5cb565308">

            </div>
            <div id="_dedf5723-3a80-eca8-a5d0-c8e339de4c11" class="_dedf5723-3a80-eca8-a5d0-c8e339de4c11">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 04</span>
                </p>
            </div>
            <div id="_e9fe9ad3-2be8-4ff2-827d-8ef7f7c25216" class="_e9fe9ad3-2be8-4ff2-827d-8ef7f7c25216">

            </div>
            <div id="_9567c681-eaa0-64bf-031a-496a8cf71400" class="_9567c681-eaa0-64bf-031a-496a8cf71400">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 05</span>
                </p>
            </div>
            <div id="_ac040925-b472-6de8-4e9e-44fb2af83b3b" class="_ac040925-b472-6de8-4e9e-44fb2af83b3b">

            </div>
            <div id="_1875313e-e151-95aa-52df-f9de60b20d4b" class="_1875313e-e151-95aa-52df-f9de60b20d4b">

            </div>
            <div id="_8eaee3bc-2391-a910-afc1-bc6ed4669898" class="_8eaee3bc-2391-a910-afc1-bc6ed4669898">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 50px; color: #333333; letter-spacing: -1px; line-height: 1.4;">$ 14.99</span>
                </p>
            </div>
            <div id="_7b50983f-b96c-c2db-e1fe-fad225fadbfc" class="_7b50983f-b96c-c2db-e1fe-fad225fadbfc">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #333333; letter-spacing: -1px; line-height: 1.4;">Monthly</span>
                </p>
            </div>
            <div id="_f4137b56-5242-4991-d05f-dd3921e16f45" class="_f4137b56-5242-4991-d05f-dd3921e16f45">

            </div>
            <div id="_4198e3e8-40e9-8463-b3b2-f5acad84fbd5">
                <a target="_self">
                    <span>Buy now</span>
                </a>
            </div>
            <div id="_c6ddb433-181a-42b7-ab5f-b6eb43d95a51" class="_c6ddb433-181a-42b7-ab5f-b6eb43d95a51">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #333333; letter-spacing: -1px; line-height: 1.4;">STANDARD PLAN</span>
                </p>
            </div>
            <div id="_0ecac3ad-0a72-b7eb-ad84-5bd9a539df85" class="_0ecac3ad-0a72-b7eb-ad84-5bd9a539df85">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 01</span></p>
            </div>
            <div id="_623f9ef5-cf67-3a22-a30c-1d009bb54f9c" class="_623f9ef5-cf67-3a22-a30c-1d009bb54f9c">

            </div>
            <div id="_bb28e606-a5dd-d836-7e92-048aa4ab2f61" class="_bb28e606-a5dd-d836-7e92-048aa4ab2f61">

            </div>
            <div id="_73a42e97-72ee-f01c-6c38-5ccf068b80f3" class="_73a42e97-72ee-f01c-6c38-5ccf068b80f3">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 03</span></p>
            </div>
            <div id="_eb472e8d-f45e-2077-bc15-d58a91e4c206" class="_eb472e8d-f45e-2077-bc15-d58a91e4c206">

            </div>
            <div id="_09ff34b9-3a0d-c0a7-ffdc-12da76dfba99" class="_09ff34b9-3a0d-c0a7-ffdc-12da76dfba99">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 04</span></p>
            </div>
            <div id="_11146a23-106c-f14b-37a0-e0c5c3ee64a1" class="_11146a23-106c-f14b-37a0-e0c5c3ee64a1">

            </div>
            <div id="_721d407d-fa2f-a9e1-1ff1-eb26da76a90f" class="_721d407d-fa2f-a9e1-1ff1-eb26da76a90f">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 05</span></p>
            </div>
            <div id="_92760056-17c0-2dff-1b68-a6a43fcedcec" class="_92760056-17c0-2dff-1b68-a6a43fcedcec">

            </div>
            <div id="_e2c8c0c9-f12a-58fc-da71-e5e0f27dc516" class="_e2c8c0c9-f12a-58fc-da71-e5e0f27dc516">

            </div>
            <div id="_64709eb6-aa36-a7cd-c5e9-d58a4d3f95ba" class="_64709eb6-aa36-a7cd-c5e9-d58a4d3f95ba">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 50px; color: #333333; letter-spacing: -1px; line-height: 1.4;">$ 29.99</span>
                </p>
            </div>
            <div id="_d4aa99b4-c0cf-acc5-a00c-3da84b266985" class="_d4aa99b4-c0cf-acc5-a00c-3da84b266985">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #333333; letter-spacing: -1px; line-height: 1.4;">Monthly</span>
                </p>
            </div>
            <div id="_737ab613-e894-b6dd-d8ae-f8c9cd21e8f6" class="_737ab613-e894-b6dd-d8ae-f8c9cd21e8f6">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 02</span></p>
            </div>
            <div id="_95febcc1-1559-c4d3-be4f-d3d460b6fc83" class="_95febcc1-1559-c4d3-be4f-d3d460b6fc83">

            </div>
            <div id="_3d174906-978e-d469-8822-1d83f7283041">
                <a target="_self">
                    <span>Buy now</span>
                </a>
            </div>
            <div id="_27d274e5-8d33-57c4-d233-4caa68be19db" class="_27d274e5-8d33-57c4-d233-4caa68be19db">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #ffffff; letter-spacing: -1px; line-height: 1.4;">CORPORATE PLAN</span>
                </p>
            </div>
            <div id="_f950da9b-fe07-fc28-f475-c38005d3f6a5" class="_f950da9b-fe07-fc28-f475-c38005d3f6a5">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 01</span>
                </p>
            </div>
            <div id="_9ec7eca9-0927-318c-3189-66a827c73c57" class="_9ec7eca9-0927-318c-3189-66a827c73c57">

            </div>
            <div id="_7f87de3e-d138-3a57-0b3c-c0794312e093" class="_7f87de3e-d138-3a57-0b3c-c0794312e093">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 02</span>
                </p>
            </div>
            <div id="_9cfcd7d3-3acf-4d03-687a-47e2dfc94f72" class="_9cfcd7d3-3acf-4d03-687a-47e2dfc94f72">

            </div>
            <div id="_e786153c-4fb1-a3ee-bb95-2c317e33696c" class="_e786153c-4fb1-a3ee-bb95-2c317e33696c">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 03</span>
                </p>
            </div>
            <div id="_2cea26a4-685f-7a3e-9c4f-129159adcc92" class="_2cea26a4-685f-7a3e-9c4f-129159adcc92">

            </div>
            <div id="_cc92cc28-6f48-d3d5-1523-6392a4ff38c8" class="_cc92cc28-6f48-d3d5-1523-6392a4ff38c8">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 04 </span>
                </p>
            </div>
            <div id="_78035071-a170-8a7d-9bd8-423e72a882e6" class="_78035071-a170-8a7d-9bd8-423e72a882e6">

            </div>
            <div id="_698a3f7a-3c5d-50de-e344-9ce068439712" class="_698a3f7a-3c5d-50de-e344-9ce068439712">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 05</span>
                </p>
            </div>
            <div id="_0dbbc79b-41f5-8f45-4c19-c46f9e20ce74" class="_0dbbc79b-41f5-8f45-4c19-c46f9e20ce74">

            </div>
            <div id="_d18ecc1b-0647-38f8-3c08-e33a5c0963f2" class="_d18ecc1b-0647-38f8-3c08-e33a5c0963f2">

            </div>
            <div id="_7e3f136b-e45e-a981-fc43-5244ea6a5991" class="_7e3f136b-e45e-a981-fc43-5244ea6a5991">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 50px; color: #ffffff; letter-spacing: -1px; line-height: 1.4;">$ 49.99</span>
                </p>
            </div>
            <div id="_f489ebe6-da33-b381-8de6-7be9d940f6e4" class="_f489ebe6-da33-b381-8de6-7be9d940f6e4">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #ffffff; letter-spacing: -1px; line-height: 1.4;">Monthly</span>
                </p>
            </div>
        </div>

        <div style="display:none;">
            <div id="removeBranding">
                <div>
                    <h1 class="black-title-default">How to remove Lander's branding from my page?</h1>
                </div>
                <div>
                    <p class="grey-text-default">Lander's footer is only displayed during your Free Trial. Upgrade to
                        any
                        paid plan and it will be automatically removed from all of your landing pages.</p>
                </div>
                <hr class="hr-separator-default">
                <div>
                    <button class="submit-button remove-branding-button">Ok, I got it</button>
                </div>
            </div>
        </div>

    </div>

    {% block javascript %}

        <script src="{% static 'global_files/js/jquery.js' %}" type="text/javascript"></script>
        <script src="{% static 'global_files/js/jQuery.Plugins.js' %}" type="text/javascript"></script>
        <script src="{% static 'global_files/js/jquery-ui.js' %}" type="text/javascript"></script>
        <script src="{% static 'global_files/js/editable-page.js' %}" type="text/javascript"></script>

    {% endblock javascript %}


{% endblock %}
