<footer class="branding-footer">
    <div></div>
    <div id="brandfooter"
         style="margin:0; padding:0; border: 0; font-family:Arial, Helvetica, sans-serif; font-weight:normal; margin:auto; width:100%;">
        <div id="brandfootertop"
             style="width:100%; margin:auto;min-width:720px;height:50px; background:url(http://landerstorage.blob.core.windows.net/lander-images/brandfooter-sprite.png) repeat-x 0px 0px;">
            <div class="img-container"><img
                    src="{% static 'theme_pages_files/theme_page_5/img/brandfooter-text.png' %}" width="170"
                    height="21" alt="We love landing pages" class="branding-img">
                <a style="display:inline-block; background:url(http://landerstorage.blob.core.windows.net/lander-images/brandfooter-sprite.png) no-repeat 0px -53px; width:8px; height:4px;margin-top:50px;right:12%;position:absolute;"></a>
            </div>
            <div class="button-container"><a id="buttonRemoveBranding"
                                             class="submit-button button-black remove-branding-footer"
                                             href="http://cloud.landerapp.com/LandingPages/Editor/Preview?landingPageId=99463&variantId=213834#removeBranding">Remove
                branding</a></div>
        </div>

        <a id="brandfooterbottom"
           href="http://www.landerapp.com/?utm_source=MyLanderPages&utm_medium=BrandedFooter&utm_campaign=BrandedFooter"
           style="width:100%; margin:auto; height:40px; background-color: #FFFFFF; color:#3392CC; text-align:center; line-height:40px; font-size:15px; display:inline-block; text-decoration:none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;"
           onmouseover="style.backgroundColor=&#39;#001F31&#39;; style.color=&#39;#FFFFFF&#39;"
           onmouseout="style.backgroundColor=&#39;#FFFFFF&#39;; style.color=&#39;#3392CC&#39;">
            <span style="font-weight:bold;">Try Lander</span>, a landing page platform.
        </a>
    </div>
</footer>