<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Growth Square</title>

  <!-- CSS  -->
  <link href="../static/landing_page_files/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/landing_page_files/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!--<nav class="white" role="navigation">-->
    <nav role="navigation">
    <div class="container">
      <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right side-nav">
            <li><a href="#">¡Se Parte!<i class="pink-text mdi-action-favorite"></i></a></li>
            <li><a href="components.html">Podcast <i class="mdi-hardware-keyboard-voice"></i></a></li>
            <li><a href="javascript.html">Blog <i class="mdi-editor-border-color"></i></a></li>
        </ul>
          
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <!--<h1 class="header center teal-text text-lighten-2">--><h1 class="header center teal-text ">Growth Square</h1>
        <div class="row center">
          <h5 class="header col-sm-12 light">La mejor manera de <u>Impulsar</u> tus <u>Ideas<u></h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Comienza Ahora</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
        <img src="../static/landing_page_files/images/background1test.jpg" alt="Unsplashed background img 2" />
    </div>
  </div>

  <div class="container">
      <div class="section">

      <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center icon1"><i class="mdi-image-wb-incandescent"></i></h2>
                    <h5 class="center">Inspira</h5>

                    <p class="light">Obtén las mejores entrevistas, artículos, contenido y experiencia de Emprendedores reconocidos a nivel mundial. Inspirate con los secretos que las películas no te cuentan.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center icon2"><i class="mdi-toggle-check-box"></i></h2>
                    <h5 class="center">Valida</h5>

                    <p class="light">Con nuestra ayuda, valida tus ideas en corto tiempo y dinero. Hemos creado un asombroso creador de landing page conectado con Google Adwords para validar tu idea... Lo mejor de todo, sí tu idea es realmente asombroso, te llamaremos para ayudarte.</p>
                </div>
            </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center icon3"><i class="mdi-image-flash-on"></i></h2>
                        <h5 class="center">Impulsa</h5>

                        <p class="light">Impulsa tus ideas con más increibles aplicaciones de Growth Square. Aprende sobre crecimiento de Startups, utiliza nuestras asombrosas tools hechas para hacer crecer Tú proyecto. Y sobretodo, escucha nuestro podcast semanal con Emprendedores exitosos.</p>
                    </div>
                </div>
            </div>
        
        </div>    
    </div>
    
      
    <div class="col s12 section-left">
    
        <div class="col s12 m6 feature_left">
            <h2>Crea el mejor<br>Sitio web.</h2>

            <p>Bookmark your favourite articles and inspirations directly within Panda. Now build a library of your favourite content.</p>
        </div>
        
            <div class="col s12 m6 image_feature z-depth-4">
                <img src="../static/landing_page_files/images/save@2x.jpg"  class="fade"/>
            </div>
    </div>
        


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../static/landing_page_files/images/background3.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../static/landing_page_files/images/background2.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/landing_page_files/js/materialize.js"></script>
  <script src="../static/landing_page_files/js/init.js"></script>

  </body>
</html>