{% extends "base.html" %}

{% load static %}

{% block css %}

    <script src="{% static 'landing_designer_old_files/files/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'landing_designer_old_files/files/jQuery.Plugins.js' %}" type="text/javascript"></script>
    <script src="{% static 'landing_designer_old_files/files/jquery-ui.js' %}" type="text/javascript"></script>
    <script src="{% static 'landing_designer_old_files/files/Common.js' %}" type="text/javascript"></script>
    <script src="{% static 'landing_designer_old_files/files/animated-progress.js' %}" type="text/javascript"></script>
    <script src="{% static 'landing_designer_old_files/files/jscolor.js' %}" type="text/javascript"></script>

    <link href="{% static 'dashboard_files/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'landing_designer_old_files/files/ui-progress-bar.css" type="text/css' %}" rel="stylesheet">
    <link href="{% static 'landing_designer_old_files/styles/styles.css" type="text/css' %}" rel="stylesheet">
    <link href="{% static 'landing_designer_old_files/styles/menuItem.css" type="text/css' %}" rel="stylesheet">

{% endblock css %}

{% block content %}

    {% block javascript %}

        <script type="text/javascript">
            var ok = true;

            $(document).ready(function () {
                ok = true;

                //$("#page1").load("LP/indexGS_preview.html");

                AddEventListeners();
                AddDivsAccordionEffects();
                HideBenefits();
                CollapseDivs();

                // $("#pnlContainerLeft").load("robando.html");
            });

            function HideBenefits() {
                $("#divBenefits2").hide();
                $("#divBenefits3").hide();
                $("#SecondBenefitBorderLine").hide();
                $("#ThirdBenefitBorderLine").hide();
                $("#LastBenefitBorderLine").hide();
            }

            function CollapseDivs() {
                $("#accordion2").accordion({
                    active: false,
                    collapsible: true
                });
                $("#accordion3").accordion({
                    active: false,
                    collapsible: true
                });
                $("#accordion4").accordion({
                    active: false,
                    collapsible: true
                });
                $("#accordion5").accordion({
                    active: false,
                    collapsible: true
                });
            }

            function AddDivsAccordionEffects() {
                $("#accordion1").accordion({
                    collapsible: true
                });
                $("#accordion2").accordion({
                    collapsible: true
                });
                $("#accordion3").accordion({
                    collapsible: true
                });
                $("#accordion4").accordion({
                    collapsible: true
                });
                $("#accordion5").accordion({
                    collapsible: true
                });
            }

            function ApplyChanges() {
                //Startup
                var txbStartupName = document.getElementById("txbStartupName");
                if (txbStartupName != null && txbStartupName.value != "") {
                    $("#lblCompanyName").text(txbStartupName.value);
                }

                //SEO
                var txbElevatorPitch = document.getElementById("lblElevatorPitch");
                if (txbElevatorPitch != null && txbElevatorPitch.value != "") {
                    $("#lblElevatorPitch").text(txbElevatorPitch.value);
                }

                //Objetive
                var txbWelcomeText = document.getElementById("txbWelcomeText");
                if (txbWelcomeText != null && txbWelcomeText.value != "") {
                    $("#lblDescription").text(txbWelcomeText.value);
                }

                //Testimonial
                var lblTestimonialDesc = document.getElementById("lblTestimonialDesc");
                if (lblTestimonialDesc != null && lblTestimonialDesc.value != "") {
                    $("#lblTestimonialDesc").text(lblTestimonialDesc.value);
                }
                //Benefits

                // alert("Changes applied!");

                // Blink effect on submit
                $("#main").fadeTo(100, 0.1).fadeTo(200, 1.0);

            }

            function AddEventListeners() {

                // Radiobuttons - radUrl
                $('#radUrl1').change(function () {
                    var $this = $(this);
                    if ($this.is(':checked')) {
                        $("#txbUrl").prop('disabled', true);
                    }
                });

                $('#radUrl2').change(function () {
                    var $this = $(this);
                    if ($this.is(':checked')) {
                        $("#txbUrl").prop('disabled', false);
                    }
                });

                // Radiobuttons - radMultimedia
                $('#radImage').change(function () {
                    var $this = $(this);
                    if ($this.is(':checked')) {
                        $("#txbVideoURL").prop('disabled', true);
                        $("#fupStartupImage").prop('disabled', false);
                    }
                });

                $('#radVideo').change(function () {
                    var $this = $(this);
                    if ($this.is(':checked')) {
                        $("#txbVideoURL").prop('disabled', false);
                        $("#fupStartupImage").prop('disabled', true);
                    }
                });


                // Benefit 2 - checkbox action
                $('#chkBenefit2').click(function () {
                    var $this = $(this);
                    var checkId = document.getElementById("chkBenefit2");
                    if (checkId != null) {
                        if ($this.is(':checked')) {
                            $("#divBenefits2").show(200);
                            $("#SecondBenefitBorderLine").show();
                        } else {
                            $("#divBenefits2").hide(200);
                            $("#SecondBenefitBorderLine").hide();
                        }
                    }
                });

                // Benefit 3 - checkbox action
                $('#chkBenefit3').click(function () {
                    var $this = $(this);
                    var checkId = document.getElementById("chkBenefit3");
                    if (checkId != null) {
                        if ($this.is(':checked')) {
                            $("#divBenefits3").show(200);
                            $("#ThirdBenefitBorderLine").show();
                            $("#LastBenefitBorderLine").show();
                        } else {
                            $("#divBenefits3").hide(200);
                            $("#ThirdBenefitBorderLine").hide();
                            $("#LastBenefitBorderLine").hide();
                        }
                    }
                });

                document.getElementById('fupStartupImage').addEventListener('change', CheckImageUploaded, false);
                $('#fupStartupImage').change(function (e) {
                    readURL(this, "divStartupImage");
                });

                document.getElementById('fupTestimonialFace').addEventListener('change', CheckImageUploaded, false);
                $('#fupTestimonialFace').change(function (e) {
                    readURL(this, "divTestimonialFaceImage");
                });

                // Benefits
                document.getElementById('fupBenefit1').addEventListener('change', CheckImageUploaded, false);
                $('#fupBenefit1').change(function (e) {
                    readURL(this, "divBenefitsImage1");
                });

                document.getElementById('fupBenefit2').addEventListener('change', CheckImageUploaded, false);
                $('#fupBenefit2').change(function (e) {
                    readURL(this, "divBenefitsImage2");
                });

                document.getElementById('fupBenefit3').addEventListener('change', CheckImageUploaded, false);
                $('#fupBenefit3').change(function (e) {
                    readURL(this, "divBenefitsImage3");
                });

            }

            function LoadText(input, objetive) {
                $(objetive).val(input);
            }

            function readURL(input, divName) {
                var divImage = document.getElementById(divName);
                if (divImage != null) {
                    divImage.style.backgroundPosition = "center";
                    divImage.style.backgroundRepeat = "no-repeat";
                    //divImage.style.width = "983px !important";

                    // Is ok to change the banner
                    if (ok) {
                        if (input.files != null) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    divImage.style.backgroundImage = "url(" + e.target.result + ")";
                                }
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    } else {
                        divImage.style.backgroundImage = "url('images/login-back.jpg')";
                    }
                }
            }

            // Check uploaded file extension - Banner
            function CheckImageUploaded(e, fupImage) {
                var ret = true;
                var file_list = e.target.files;

                /// go through the list of files
                for (var i = 0, file; file = file_list[i]; i++) {
                    var sFileName = file.name;
                    var sFileExtension = sFileName.split('.')[sFileName.split('.').length - 1].toLowerCase();
                    var iFileSize = file.size;
                    var iConvert = (file.size / 1048576).toFixed(2);

                    var fupImage = document.getElementById(fupImage);
                    if (fupImage != null) {
                        if (!(sFileExtension === "gif" || sFileExtension === "jpg" || sFileExtension === "png")) {
                            ret = false;
                            // clear fileupload
                            fupImage.setAttribute("type", "input");
                            fupImage.setAttribute("type", "file");
                        }
                    }
                }

                ok = ret;
                return ret;
            }
        </script>

    {% endblock javascript %}


    <form>
        <div id="main">
            <div class="break"></div>

            <div id="divMain" class="divMain">

                <div id="pnlContainerLeft" style="height: 750px !important;">

                    <!-- <div id="page1">
                    </div> -->

                    <object type="text/html"
                            data="{% static 'landing_designer_old_files/load_preview/landing_preview.html' %}"
                            style="width: 100%; height: 100%;">
                        <p>backup content</p>
                    </object>
                </div>


                <div id="pnlContainerRight">
                    <div class="break"></div>
                    <div id="accordion1">
                        <label id="lblSections" style="cursor: pointer; padding-top: 25px !important;">
                            Configuración </label>

                        <div>
                            <div class="inputbox" style="width: 100%; float: left;" id="inputbox1">
                                <div class="input-entry">
                                    <div class="input-label">
                                        <p>
                                            Nombre Startup
                                        </p>
                                    </div>
                                    <div class="input-area">
                                        <input type="text" maxlength="25" id="txbStartupName" class="inputbox"
                                               value='Example'>
                                    </div>
                                    <div class="break"></div>
                                </div>
                                <div class="input-entry">
                                    <div class="input-label">
                                        <p>
                                            Elevator pitch
                                        </p>
                                    </div>
                                    <div class="input-area">
                                        <input type="text" maxlength="25" id="txbElevatorPitch" class="inputbox"
                                               value='Este es el elevator pitch mas poderoso y asombroso que existe'>
                                    </div>
                                    <div class="break"></div>
                                </div>
                                <div class="input-entry">
                                    <div class="input-label">
                                        <p>
                                            <span id="lblCurrentCompany">Descripción</span>
                                        </p>
                                    </div>
                                    <div class="input-area">
                                        <textarea class="textarea" id="txbWelcomeText"> </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="input-entry" style="padding: 10px 0 10px 0 !important; width:90% !important;">
                                <div class="input-label">
                                    <p>
                                        Tipo multimedia
                                    </p>
                                </div>
                                <div id="radio">
                                    <input type="radio" class="radio" id="radImage" name="radMultimedia" value="0"
                                           checked>Imagen
                                    <input type="radio" class="radio" id="radVideo" name="radMultimedia" value="1">Video
                                    URL
                                </div>

                            </div>
                            <div class="input-entry" style="margin-top: 10px;">
                                <div class="input-label">
                                    <p>
                                        Cargar imagen
                                    </p>
                                </div>
                                <div class="input-area" id="fupImage">
                                    <input type="file" name="img" class="fileup" id="fupStartupImage"
                                           onchange="CheckImageUploaded(this, 'fupStartupImage')">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="inputbox" style="width: 100%; float: left;" id="inputbox">
                                <div class="input-entry">
                                    <div class="input-label">
                                        <p>
                                            Video URL
                                        </p>
                                    </div>
                                    <div class="input-area" id="txbURL">
                                        <input type="text" maxlength="25" id="txbVideoURL" class="inputbox" disabled>
                                    </div>
                                    <div class="break"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="break"></div>
                    <div id="accordion2">
                        <div class="border-line" runat="server">
                            <label id="lblSections" style="cursor:pointer;"> SEO </label>
                        </div>
                        <div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Heading
                                    </p>
                                </div>
                                <div class="input-area">
                                    <input type="text" maxlength="25" class="inputbox" style="height: 21px;">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Meta descripción
                                    </p>
                                </div>
                                <div class="input-area">
                                    <input type="text" maxlength="25" class="inputbox" style="height: 21px;">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Título
                                    </p>
                                </div>
                                <div class="input-area">
                                    <input type="text" maxlength="25" class="inputbox" style="height:21px;">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="single-text">
                                <p>
                                    URL
                                </p>
                            </div>
                            <div class="input-entry" style="margin-left: 40px !important;">
                                <input type="radio" id="radUrl1" name="radUrl" value="personal" checked> Dominio
                                personal (recomendado)<br>
                                <input type="radio" id="radUrl2" name="radUrl" value="GW"> Domninio de Growth Square
                                <div class="break"></div>

                                <div class="input-area-url">
                                    <input id="txbUrl" type="text" maxlength="25" class="inputbox-url"
                                           style="height:21px; " disabled>
                                    <label class="label-url" style="float: right; width: auto;">
                                        .growthsquare.com</label>
                                </div>
                            </div>
                            <!-- <div class="input-entry">
                                <div class="input-label">
                                    <div id="radio">
                                        <input type="radio" class="radio" id="radImage" name="radio" value="1">Growth Square domain
                                    </div>
                                </div>
                                <div class="input-area-url">
                                    <input  type="text" maxlength="25" class="inputbox-url" style="height:21px;">
                                </div>
                                <label class="label-url"> .growthsquare.com</label>
                                <div class="break"></div>
                            </div> -->
                            <div class="break"></div>

                            <div class="single-text">
                                <p>
                                    Snippet preview
                                </p>
                            </div>
                            <label class="text-inside-panels"> How to rank first at Google with </label>
                            <label class="bold-text">SEO</label>:
                        </div>
                    </div>
                    <div class="break"></div>
                    <div id="accordion3">
                        <div class="border-line" runat="server">
                            <label id="lblSections" style="cursor:pointer;"> Objectivos </label>
                        </div>
                        <div>
                            <div class="single-text">
                                <p>
                                    Seleccionar objetivos
                                </p>
                            </div>
                            <div class="input-entry">
                                <div id="radio">
                                    <input type="radio" class="radio" id="radSelectObjetive" name="radio" value="0"
                                           checked>Pago de usuarios
                                    <input type="radio" class="radio" id="radSelectObjetive" name="radio" value="1">Nivel
                                    de interés
                                </div>
                            </div>
                            <div class="break"></div>
                            <div class="single-text">
                                <p>
                                    Tiempo de validación
                                </p>
                            </div>
                            <div class="input-entry">
                                <div id="radio">
                                    <input type="radio" class="radio" id="radVerificationTime" name="radio" value="0"
                                           checked>Una semana
                                    <input type="radio" class="radio" id="radVerificationTime" name="radio" value="1">Dos
                                    semanas
                                    <input type="radio" class="radio" id="radVerificationTime" name="radio" value="2">Un
                                    mes
                                </div>
                            </div>
                            <div class="break"></div>
                            <div class="single-text">
                                <p>
                                    Nivel (E-Mails)
                                </p>
                            </div>
                            <div class="input-entry">
                                <div id="radio">
                                    <input type="radio" class="radio" id="radLevel" name="radio" value="0" checked>SF
                                    developer (10)
                                    <input type="radio" class="radio" id="radLevel" name="radio" value="1">Zuckerberg
                                    (20)
                                    <input type="radio" class="radio" id="radLevel" name="radio" value="2">Steve Jobs
                                    (30)
                                </div>
                            </div>
                            <div class="break"></div>
                            <div class="single-text">
                                <p>
                                    Call To Action
                                </p>
                            </div>
                            <div class="input-entry">
                                <div id="radio">
                                    <input type="radio" class="radio" id="radCallToAction" name="radio" value="0"
                                           checked>Try For
                                    <input type="radio" class="radio" id="radCallToAction" name="radio" value="1">Download
                                    For
                                    <input type="radio" class="radio" id="radCallToAction" name="radio" value="2">Buy
                                    Now For
                                    <input type="radio" class="radio" id="radCallToAction" name="radio" value="3">Sign
                                    Up For
                                    <input type="radio" class="radio" id="radCallToAction" name="radio" value="4">Custom
                                </div>
                            </div>

                            <div class="break"></div>
                            <div class="input-entry" style="margin-top: 20px;">
                                <div class="input-label">
                                    <p style="margin-left: 25px;">
                                        Precio $
                                    </p>
                                </div>
                                <div class="input-area">
                                    <input type="number" class="inputbox"
                                           style="height:21px; width:30% !important; float: left;" min="0" max="99999">
                                </div>
                                <div class="break"></div>
                            </div>
                        </div>
                    </div>
                    <div class="break"></div>

                    <div id="accordion4">
                        <div class="border-line" runat="server">
                            <label id="lblSections" style="cursor:pointer;"> Testimonios </label>
                        </div>
                        <div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Imagen
                                    </p>
                                </div>
                                <div class="input-area" id="fupImage1" style="border:1px solid gray">
                                    <input type="file" name="img" class="fileup" id="fupTestimonialFace"
                                           onchange="CheckImageUploaded(this, 'fupTestimonialFace')">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        <span id="lblCurrentCompany">Testimonio</span>
                                    </p>
                                </div>
                                <div class="input-area">
                                    <textarea class="textarea" id="txbWelcomeText"></textarea>
                                </div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Nombre, ocupación
                                    </p>
                                </div>
                                <div class="input-area">
                                    <input type="text" maxlength="25" class="inputbox" style="height:21px;">
                                </div>
                                <div class="break"></div>
                            </div>
                        </div>
                    </div>

                    <div class="break"></div>
                    <div id="accordion5">
                        <div class="border-line" runat="server">
                            <label id="lblSections" style="cursor:pointer;"> Beneficios </label>
                        </div>
                        <div>
                            <div class="single-text">
                                <p class="single-text" style="font-size: 25px;">
                                    Primer beneficio
                                </p>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Imagen
                                    </p>
                                </div>
                                <div class="input-area" id="fupImage">
                                    <input type="file" name="img" class="fileup" id="fupBenefit1"
                                           onchange="CheckImageUploaded(this, 'fupBenefit1')">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Nombre
                                    </p>
                                </div>
                                <div class="input-area">
                                    <input type="text" maxlength="25" class="inputbox" style="height:21px;">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        <span id="lblCurrentCompany">Descripción</span>
                                    </p>
                                </div>
                                <div class="input-area">
                                    <textarea class="textarea" id="txbWelcomeText"></textarea>
                                </div>
                            </div>
                            <div class="single-text">
                                <p class="single-text" style="font-size: 25px;">
                                    Segundo beneficio (opcional)
                                </p>
                            </div>
                            <div class="input-entry">
                                <input type="checkbox" id="chkBenefit2" value="use"> Incluir
                                <br>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Imagen
                                    </p>
                                </div>
                                <div class="input-area" id="fupImage">
                                    <input type="file" name="img" class="fileup" id="fupBenefit2"
                                           onchange="CheckImageUploaded(this, 'fupBenefit2')">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Nombre
                                    </p>
                                </div>
                                <div class="input-area">
                                    <input type="text" maxlength="25" class="inputbox" style="height:21px;">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        <span id="lblCurrentCompany">Descripción</span>
                                    </p>
                                </div>
                                <div class="input-area">
                                    <textarea class="textarea" id="txbWelcomeText"></textarea>
                                </div>
                            </div>
                            <div class="break"></div>
                            <div class="single-text">
                                <p class="single-text" style="font-size: 25px;">
                                    Tercer beneficio (optional)
                                </p>
                            </div>
                            <div class="input-entry">
                                <input type="checkbox" id="chkBenefit3" value="use"> Incluir
                                <br>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Imagen
                                    </p>
                                </div>
                                <div class="input-area" id="fupImage">
                                    <input type="file" name="img" class="fileup" id="fupBenefit3"
                                           onchange="CheckImageUploaded(this, 'fupBenefit3')">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        Nombre
                                    </p>
                                </div>
                                <div class="input-area">
                                    <input type="text" maxlength="25" class="inputbox" style="height:21px;">
                                </div>
                                <div class="break"></div>
                            </div>
                            <div class="input-entry">
                                <div class="input-label">
                                    <p>
                                        <span id="lblCurrentCompany">Descripción</span>
                                    </p>
                                </div>
                                <div class="input-area">
                                    <textarea class="textarea" id="txbWelcomeText"></textarea>
                                </div>
                            </div>
                            <div class="break"></div>
                        </div>
                    </div>
                    <div class="input-entry" style="margin: 30px 0px 30px 0px;">
                        <input type="submit" value="Apply changes" class="btnCommit"
                               style="margin-left:10px !important; float:left;" onClick="ApplyChanges()"
                               id="btnApplyChanges">
                        <input type="submit" value="Save" class="btnCommit" id="btnSave"
                               style="margin-right:10px !important; float:right;">
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock %}
