{% extends "base_2.html" %}

{% load static %}

{% block css %}

    <link href="{% static 'dashboard_files/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard_files/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard_files/css/plugins/morris.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard_files/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

{% endblock css %}

{% block content %}

    <div id="divImageBackground">
        <img id="img1" src="{% static 'section_construction_files/img/building_section.jpg' %}"/>
    </div>

    {% block javascript %}

        <script src="{% static 'dashboard_files/js/jquery.js' %}"></script>
        <script src="{% static 'dashboard_files/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'dashboard_files/js/plugins/morris/raphael.min.js' %}"></script>
        <script src="{% static 'dashboard_files/js/plugins/morris/morris.min.js' %}"></script>
        <script src="{% static 'dashboard_files/js/plugins/morris/morris-data.js' %}"></script>

    {% endblock javascript %}

{% endblock content %}
