
p {
font-size: 18px;
line-height: 30px;
color: #898989;
color: rgba(0,0,0,0.60);
padding: 20px 0 0 0;
}

.divCenter{
background: #FFF;
width: 70%;
height: 500px;
float: left;
padding: 40px 80px;
margin-left: 15%;
margin-top: 50px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
display: inline-block;
box-sizing: border-box;
border-radius: 25px;
}

.divMain{
height: 900px; 
background: url(../images/background-inspirate.jpg);
}

.divMain_toolkit-store{
height: 2680px; 
background: url(../images/background-toolkit_store.jpg);
background-repeat: repeat-y;
}

*, UL, LI {
    padding: 0;
    margin: 0;
}

HTML {
    overflow: scroll; 

}

* HTML BODY, BODY {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial;
}


.progressBarSub{
    margin-bottom: 5px;
}
 
.progressBar{
    border-bottom: 1px solid #cccccc;
}


.colorPicker{
margin-left: 10px;
margin-bottom: 10px;

}

#footer-wrapper {

}

#maincontainer {
    width: 100% !important;
    position: relative; 
    padding-bottom: 0px;
    margin: 0 auto;
    text-align: left;
    /*background-image:url(../images/login-back.jpg);*/
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: -200px;

}


body.reg, body.reg #maincontainer {background-image:url(../images/login-back2.jpg)}

body.reg .logo-border {border-bottom: 1px solid #fff;}

#nonFooter {
    min-height: 100%; 
    position: relative
}

* HTML #nonFooter {
    height: 100%
}

#pnlContainerLeftBody {
 width: 100%;    
 padding-top: 20px;
 padding-bottom: 20px;
 position: static !important;

 /*padding: 20px 0 200px 0;*/
 /*background-image:url(../images/login-back.jpg);*/
}

.divImage {
    background-image: url(../images/company-image.jpg); 
    background-position: left;
    background-repeat: no-repeat;
    width: 100%; 
    height: 220px; 
    margin: 20px 5px 0 0 !important;
    border: 1px solid #cccccc;
    cursor: pointer;
    background-size: 100% auto !important;
}

.divBenefitImage {
    background-image: url(../images/benefit-image.jpg); 
    background-position: left;
    background-repeat: no-repeat;
    width: 50%; 
    height: 220px; 
    /*border: 1px solid #cccccc;*/
    cursor: pointer;
    background-size: 100% auto !important;
}

.divTestimonial
{
    margin-left: 23%;
    width: 50%;
    text-align: center;
}

#divTestimonialFaceImage {
    background-position:center;
    background-repeat:no-repeat;
    margin-top: 40px !important;
    border: 1px solid #cccccc;
    cursor: pointer;
    background-size: 100% auto !important;
    width: 100% !important;
    background-image: url(../images/testimonial-face.png); 
}


.lblTestimonialDesc
{
}

body {
    /*background-image:url(../images/login-back.jpg);*/
    background-repeat: no-repeat;
    background-color: #fff !important;
    background-position: top center;
    font-family: helvetica, arial !important;
    font-size: 12px !important;
    
}


.break {
    clear: both;
}

LI {
    margin:0 0 0 20px
}

/* ----------------------------------------------------------------------------   FOOTER   -------------------------------------------------------------------------------------- */

#footer {
    width: 983px;
    margin: 0 auto;
    height: 79px;
    border-top: 1px solid #cccccc; 
}

#footerleft {
    padding: 10px 0 0 160px;
    height: 79px; 
    background-image: url(../images/insalapower.jpg);
    background-repeat: no-repeat;
    background-position: 0 20px;
}
#footerright {
    display: none; 
    float: right; 

}
#foot UL, #foot LI  {
    margin: 0px; 
    padding: 0px
}

#foot LI {
    list-style-type: none;
    float: left;
}

#foot A {
    padding: 0 20px 0 20px;
    margin: 22px 0 0 0;
    border-right: 1px solid #333; 
    font-weight: bold; 
    font-size: 12px; 
    float: left; 
    line-height: 1.2; 
    text-decoration: none
}
#foot_first A {
    padding: 0 20px 0 0;
}
#foot_last A {
    border-right: 0px
}

#foot P {
    padding: 0 20px 0 20px;
    color: #000;
    margin: 15px 0 0 0; 
    font-size: 12px; 
    float: left; 
    color: #000; 
}

#foot_last P {
    border-right: 0px; 
    margin: 22px 0 0 0; 
    line-height: 1.2
}



/* -------------------------------  SET FOOTER COLOR  ----------------------------------------- */

#foot A, #foot_first A, #foot_last A {
    color: #6699cc;
}

#foot A:hover {
    color: #6699cc
}


#Copyright {
    text-align: left;
}
.meta-date {color: #00376a; display: block; padding-bottom: 2px}
.welcome-message {float: left; width: 600px; margin-top: 270px}
.welcome-message h2 {color: #00376a; padding-bottom: 10px}
.welcome-events, .welcome-news {float: left; width: 300px; margin-top: 20px}
.welcome-events {width: 280px; padding-right: 20px}
.welcome-events a, .welcome-news a {color: #333; text-decoration: none}
.welcome-message p {padding: 0 0 10px 0}
h3 {color: #00376a; text-transform: uppercase; font-weight: normal; border-bottom: 1px solid #00376a; padding-bottom: 10px; margin-bottom: 10px}
.login-box {
    background-color: #fff;
    padding: 40px;
    float: left;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute; 
    top: 200px; 
    right: 0px}

    .break {
       clear: both
   }
   .form-entry {
       position: relative
   }
   .required {
       color: #cc0000
   }
   .form {
       width: 250px;
       padding: 7px;
       margin-bottom: 10px
   }
   .contact-form input#submit, .green {
       background-color: #00376a !important;
       border: 1px solid #220000 !important;
       color: #fff !important;
       font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif !important;
       padding: 7px 0 8px 0 !important;
       text-align: center !important;
       width: 150px !important;
       margin-bottom: 5px !important;
       display: block !important;
   }
   input.green {
    cursor: pointer;
    width: 268px !important;
    font: bold 17px/1 "helvetica neue", helvetica, arial, sans-serif !important
}

.contact-form input#submit:hover, input.green:hover {
    background-color: #00376a !important;
}
.login-box p a {
    font-size: .9em;
    color: #055678
}
.social-login {
    padding-top: 10px
}
input.button-linkedin2 {
    width: 140px;
    height: 24px;
    background: none;
    background-image: url(http://www.insala.com/images/button-linkedin2.gif);
    background-repeat: no-repeat;
    display: block;
    color: #fff;
    border: 0;
    text-align: left;
    padding-left: 30px;
    margin: 0;
    font-size: 10px;
    float: left
}
.moreinfo {
    position: relative
}
#more-info {
    position: absolute;
    top: 30px;
    left: 100px;
    z-index: 500px;
    background-color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 20px;
    float: left;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #444
}
.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -11px;
    left: 47px;
    background-image: url(http://www.insala.com/images/arrow.png);
    background-repeat: no-repeat
}
#more-info p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 12px
}
.moreinfo a {
    background-image: url(http://www.insala.com/images/info.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    text-indent: -9999px;
    overflow: hidden;
    float: left;
    margin: 3px 10px 0 10px
}
.login-box p {padding: 3px 0 0 0; margin: 0}
.logo-border {border-bottom: 1px solid #fff; width: 100%; position: absolute; left: 0; top: 100px; z-index: 200}
.logo {}

.tenpad
{
    padding: 0;
    width: 235px;
}


.registration.header
{
    background-color: #e9e9e9;
    padding: 15px;
    position: relative;
}

.registration.header h2
{
    color: #969ca3;
    font-size: 1.5em;
}

.message
{
    padding: 30px 15px 15px 15px;
    position: relative;
}

.message h3
{
    color: #969ca3;
    font-size: 1.2em;
}


.introPageContent
{
    padding: 20px !important;
}

.login-width .introPageContent
{
    padding: 20px 60px !important;
}

.log-left
{
    width: 70%;
    float: left;
    padding-bottom: 70px;
}

.log-right
{
    width: 29%;
    float: left;
}

.log-left h3
{
    font-size: 1.4em;
    font-style: italic;
    color: #525252;
    padding-bottom: 15px;
}

.input-label
{
    width: 29%;
    float: left;
}

.single-text
{
    font-size: 1.7em;
    font-style: bold;
    margin-left: 20px;
    padding: 5px 0 10px 0;
}

.bold-text
{
    font-weight: bold !important;
}

.text-inside-panels
{
    margin-left: 20px;
    padding: 5px 0 10px 0;
    
}

.input-area
{
    width: 65%;
    float: left;
}

.input-area-url
{
    width: 70%;
    float: left;
}

.input-area2
{
    float: left;
}

.inputbox
{
    width: 100% !important; 
}

.inputbox-url
{
    float: left;
    display: inline;
    width: 60%;
}

.label-url
{
    width: 20% !important;  
    float: left;
    display: inline;
    margin-left: 10px;
    font-size: 14px;
}

.input-entry
{
    padding: 5px 0 10px 0;
    margin-left: 20px;
    width: 100%;
}


a.connect-facebook
{
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 8px 8px 50px;
    float: left;
    background-image: url(../ey/images/log-facebook.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    border: 1px solid #39579f;
    color: #fff;
    margin: 0 0 10px 0;
    width: 100px;
}

a.connect-linkedin
{
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 8px 8px 50px;
    margin: 0;
    float: left;
    background-image: url(../ey/images/log-linkedin.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    border: 1px solid #2b6f9e;
    color: #fff;
    width: 135px;
    margin: 0 0 10px 0;
}

a.connect-xing
{
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 8px 8px 50px;
    margin: 0;
    float: left;
    background-image: url(../ey/images/log-xing.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    border: 1px solid #2b6f9e;
    color: #fff;
    width: 135px;
    margin: 0 0 10px 0;
}

.prepop-action a.facebook
{
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 8px 8px 40px;
    float: left;
    background-image: url(../ey/images/reg-facebook.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    border: 1px solid #cccccc;
    color: #555;
    width: 90px;
    margin: 0 10px 0 0;
}

.prepop-action a.linkedin
{
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 8px 8px 50px;
    margin: 0;
    float: left;
    background-image: url(../ey/images/reg-linkedin.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    border: 1px solid #cccccc;
    color: #555;
    width: 80px;
    margin: 0;
}

.prepop-action a.facebook:hover, .prepop-action a.linkedin:hover
{
    border: 1px solid #888;
}

.prepopulate
{
    margin: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.prepop-text
{
    width: 60%;
    float: left;
}

.prepop-action
{
    width: 39%;
    float: left;
}

.alt-login
{
    padding: 0 0 140px 20px;
    margin-left: 20px;
    border-left: 1px solid #ccc;
}

.submit
{
    -moz-box-shadow: inset 0px 1px 0px 0px #c2c2c2 !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #c2c2c2 !important;
    box-shadow: inset 0px 1px 0px 0px #c2c2c2 !important;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a3a1a3), color-stop(1, #4d4d4d) ) !important;
    background: -moz-linear-gradient( center top, #a3a1a3 5%, #4d4d4d 100% ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3a1a3', endColorstr='#4d4d4d') !important;
    background-color: #a3a1a3 !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #4d4d4d !important;
    display: inline-block;
    color: #ffffff !important;
    font-family: arial;
    font-size: 12px !important;
    font-weight: bold;
    padding: 5px 30px !important;
    text-decoration: none;
    text-shadow: 0px -1px 0px #000000;
    width: auto !important;
    height: auto !important;
    float: right;
}

.introPageContent input.submit, input#btnBack.buttoncandidate.buttonIntroSteps, input#btnNext.buttoncandidate.buttonIntroSteps
{
    -moz-box-shadow: inset 0px 1px 0px 0px #c2c2c2 !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #c2c2c2 !important;
    box-shadow: inset 0px 1px 0px 0px #c2c2c2 !important;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a3a1a3), color-stop(1, #4d4d4d) ) !important;
    background: -moz-linear-gradient( center top, #a3a1a3 5%, #4d4d4d 100% ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3a1a3', endColorstr='#4d4d4d') !important;
    background-color: #a3a1a3 !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #4d4d4d !important;
    display: inline-block;
    color: #ffffff !important;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 30px !important;
    text-decoration: none;
    text-shadow: 0px -1px 0px #000000;
    width: auto !important;
    height: auto !important;
}

.introPageContent input.submit:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d4d4d), color-stop(1, #a3a1a3) ) !important;
    background: -moz-linear-gradient( center top, #4d4d4d 5%, #a3a1a3 100% ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d', endColorstr='#a3a1a3') !important;
    background-color: #4d4d4d;
}

.introPageContent input.submit:active
{
    position: relative;
    top: 1px;
}

.inputbox input
{
    float: right;
    width: 100%;
    height: 21px;
}

.login-submit
{
    padding: 0 72px 0 0;
}

.login-submit p
{
    text-align: right;
    padding: 10px 0;
}

.alt-login p
{
    padding: 0 0 20px 0;
}

.required
{
    color: #F00;
}

.from-to
{
    padding: 0 10px;
    color: #777;
}

select.input-select
{
    padding: 7px !important;
    width: 481px;
}

select.input-select-date
{
    padding: 7px !important;
}

.month-entry
{
    padding-right: 10px;
}

.registration.header h2
{
    padding: 0 44px;
}

.flagged
{
    background-color: #ececec;
    border: 1px solid #ccc;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

    /*.flagged .input-label
    {
        width: 176px;
        }*/

    /*.flagged .inputbox
    {
        width: 444px;
        }*/

        .reminder
        {
            padding: 15px 0 0 195px;
            color: #f00;
            font-weight: bold;
        }

        .prepop-text p
        {
            color: #999;
            text-align: right;
            padding-right: 30px;
        }

        .thought-leadership
        {
            border-top: 1px solid #ccc;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .thought-box
        {
            width: 270px;
            float: left;
            border: 1px solid #ccc;
            background-color: #ececec;
            height: 60px;
            margin-bottom: 10px;
        }

        .mid
        {
            margin: 0 10px;
        }

        .thought-box.sel
        {
            background-color: #e0e1e2;
            border: 1px solid #999;
        }

        .tl-container
        {
            width: 836px;
            margin: 0 auto;
        }

        .tl-container p
        {
            padding-bottom: 20px;
        }

        .haveaccount select.input-select
        {
            width: 266px;
        }

        .profile-section-action .buttoncandidate
        {
            background: none !important;
            moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -khtml-border-radius: 3px border-radius: 3px;
            padding: 2px 5px;
            border: 1px solid #bbb !important;
            color: #555 !important;
            float: right;
        }

        .profile-section-action .buttoncandidate:hover
        {
            background: none !important;
            border: 1px solid #666 !important;
            color: #222 !important;
        }

        .thought-box a
        {
            padding: 22px 0 20px 60px;
            background-image: url(../icm/images/unchecked.png);
            background-position: 20px 20px;
            background-repeat: no-repeat;
            float: left;
        }

        .thought-box.sel a
        {
            background-image: url(../icm/images/checked.png);
        }

        .check-label
        {
            padding-left: 5px;
        }

        .preferred-language
        {
            width: 320px;
            position: absolute;
            top: 12px;
            right: 1px;
        }

        .preferred-language .input-select
        {
            width: 170px;
            background-color: #ececec !important;
            border: 1px solid #ccc !important;
            padding: 4px !important;
        }


        #maincontainerEnglish
        {
            width: 983px !important;
            min-width: 983px !important;
            MIN-WIDTH: 983px !important;
            position: relative;
            padding-bottom: 0px;
            margin: 0 auto;
            text-align: left;
            background-image: url(../EY/images/body2EnglishResized.gif);
            background-position: top center;
            background-repeat: no-repeat;
            margin-bottom: -100px;
        }

        #maincontainerFrench
        {
            width: 983px !important;
            min-width: 983px !important;
            MIN-WIDTH: 983px !important;
            position: relative;
            padding-bottom: 0px;
            margin: 0 auto;
            text-align: left;
            background-image: url(../EY/images/body2FrenchResized.gif);
            background-position: top center;
            background-repeat: no-repeat;
            margin-bottom: -100px;
        }

/**, UL, LI
{
    padding: 0;
    margin: 0;
    }*/

    /*  REGISTRATION STYLES */



    a
    {
        color: #32659a;
    }

    /* ----------------------------------------------------------------------------   HEADER    -------------------------------------------------------------------------------------- */

    #Mainheader, #headerleft, #headerright
    {
        height: 120px; /* <-----  SETS HEADER HEIGHT  */
    }

    #Mainheader
    {
        width: 100%;
    }

    #Mainheader
    {
    }

    #headerleft
    {
    }

    #headerright
    {
        float: right;
        width: 0px;
    }

    /* -------------------------------------------------------------------------------   FONTS   -------------------------------------------------------------------------------------- */



    BODY, #lblmain table td, table#dlAnnouncements, #pnlSearch table td, #lblExcel table td, td#listCell, #pageCounting, #td_top_admin font *, #td_top_admin table, #td_top_admin p, #td_top_admin a, #td_top_admin font face, #td_top_admin font-family, table.Label, #linkViewYear a, #linkViewMonth a, #linkViewWeek a, #linkViewDay a, table.CommonBodyFontFamily td p, p.CommonBodyFontFamily, .CommonBodyFontFamily p
    {
        font-family: arial !important;
        font-size: 12px !important;
    }

    font *, table, a, font face, td[style], th[style], div[style]
    {
        font-family: arial !important;
    }



/*.tenpad
{
    width: 235px;
    padding: 10px 5px 0px 15px;
    background-position: 10px 0;
    }*/

    /* ----------------------------------------------------------------------------   UPPERRIGHT  ----------------------------------------------------------------------------- */

    #upperright
    {
        padding: 40px 0 0 0;
        margin: 5px 0 0 0;
        display: block;
        float: right;
        height: 100px;
        width: 270px;
        background-color: transparent !important;
    }


    /* ------------------------------------  INPUTS    ----------------------------------------- */

    input, .packinput input, input.cal, input.pop, input.display, input.poport, input.title, input.stepname
    {
        font-family: arial !important;
        font-size: 12px !important;
        color: #333 !important;
        margin: 0 !important;
        padding: 0 !important;
        background-image: none !important;
        background-color: #fff !important;
        border: 1px solid #7f9db9 !important;

/*        webkit-appearance: textfield;
background: #f5f5f5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAb0lEQ…gzFXqyCcXj1Z1DXNGTiw01aP252DCCgH7Fk41h8KaAGMDxADnaOPucd/m3AAAAAElFTkSuQmCC) no-repeat 7px 6px;
border-radius: 5em;
box-shadow: inset 1px 2px 3px rgba(0,0,0,0.3);
-moz-box-sizing: border-box;
box-sizing: border-box;
height: 1.71428571428571em;
line-height: 1.71428571428571;
vertical-align: baseline;
width: 170px;*/
    }

    /* ------------------------------------  SELECTS   ----------------------------------------- */

    select, #creatnew select, select.date, #boxinput_r select, #boxinput_rr select, .packselect select, .itemselect select, select.tabs, select.icon, select.cal
    {
        border: 1px solid #7F9DB9 !important;
        background-color: #fff !important;
        font-family: arial !important;
        font-size: 12px !important;
        color: #333 !important;
        margin: 0 !important;
        padding: 0 !important;
    }


    .divPopupTitle
    {
    /*font-size:large;
    text-align: center;*/
}

.divPopupText
{
    padding: 15px;
    text-align: justify;
}

.linkDivPopup
{
    padding:40px 0px 0px 15px;
    display:none;
}

.lblLanguage
{
    width:110px;
}


.limargin
{

    padding: 5px;
    margin: 15px;

}



/*Styles for terms and conditions*/
.tsandcs p {padding: 0 0 10px 0}
.tsandcs ul {display: block; padding-bottom: 10px; margin-bottom: 10px}
.tsandcs li {list-style-type: square}
.tsandcs h2 {padding-bottom: 20px; font-weight: normal}
.tsandcs-section {padding: 20px 0; display: block; border-top: 1px solid #dcdbdb}
.privacy-policy-section {color: #666}
.privacy-policy-section li {padding-bottom: 10px}
.privacy-policy-section li li, ul.roman2 li {list-style-type: none; margin: 0 30px; color: #888}
.privacy-policy-section h3 {color: #444; padding-bottom: 15px}
ul.roman2  { margin-bottom: 0px;}
.roman {width: 50px; font-weight: bold; color: #777; float: left; font-style: italic;}
.tsandcs-box {width: 500px; height: 120px; border: 1px solid #ccc; overflow: auto;}
.tsandcs-box .introPageContent {padding: 10px 20px !important}
.tsandcs-box .privacy-policy-section {padding: 10px; color: #666; border: 0px}
.tsandcs-box-container {width: 500px; margin: 0 auto}
.borderless {border: 0; padding: 0 0 20px 0}
.terms-of-use-section {color: #666; line-height: 1.7}
.terms-of-use-section li {list-style-type: none; margin: 0 50px 10px 50px; color: #888}
.number {width: 50px; float: left; font-weight: bold; color: #444}
.terms-of-use-section strong {color: #444}
.tsandcs p.nopadding {padding: 0 0 5px 0}
/*Styles for terms and conditions*/


.textarea {border: 1px solid #7f9db9 !important; width:100%; height: 76px}
.textarea {border: 1px solid #7f9db9 !important; width:100%; height: 76px}
h1.cl-title {color: #fff; top: 20px; left: 0; position: absolute}


#inputbox1 
{
 margin-top: 30px;
 /*border-top: 1px solid #ccc;*/
}
#inputbox2
{
 float: left; 
 margin-left: 20px;
 /*border-top: 1px solid #ccc; */       
}
#pnlContainerLeft {
 display: inline;
 width: 43.5%;
 float: left;
 text-align: left;
margin: 30px 0 0 65px;
 border-right: 1px solid #cccccc;
 background-color: whitesmoke;
 border-radius: 25px;
 /*border: 1px solid gray;*/
}
#pnlContainerRight {
 display: inline;
 width: 43.5%;
 float: right;
 text-align: left;
margin: 30px 65px 0 0;
 border-left: 1px solid #cccccc;
 background-color: whitesmoke;
 border-radius: 25px;
/* border: 1px solid gray;*/
}
#lblCompanyName {
 display: block; 
 text-align:center; 
 font-size: 30px;
 font-family: helvetica, arial;
}
#lblBannerOptimal{
 float:left;
 display: inline;
 margin-top:40px;
}
#lblBackgroundText{
 margin-top:40px; 
 width:100%;
 color: #7f9db9; 
 top: 55px; 
 font-size: 4em; 
 text-align: center; 
 filter: alpha(opacity=40); 
 opacity: 0.4;
}
#divFatherLeft{
 width: 100%;
 margin-left: 10px;
}
.divImage{
 width:50%;
 float: left;
 display: inline;
}
.divPitch{
 width:100%;
 display: block; 
 margin-top: 18px;
 font-size: 25px;
 font-family: helvetica, arial;
}
#footer-wrapper{
 /*position: relative; top: 800px !important; */
 margin-top: 30px;
}
#pnlContainerLeftFooter{
 /*position: relative; top: 250px !important; */
 /*border-top: 1px solid #ccc;*/            
}
.pnlContainerLeftBody_Sub2{
 width:45%;
 float: right;    
 display: inline;
}
#divCompanyInfo {
}
#divDescription {
 width: 100%;
 margin: 10px 5px 10px 5px !important;
}
#lblSections{
 width: 100%;
 display: block; 
 text-align:center; 
 font-size: 30px;
 font-family: helvetica, arial;
 padding: 10px 0 10px 0;
 color: #003f5e !important;
}
.border-line{
 border-top: 1px solid #ccc !important; 
 margin-top: 20px !important;
}
.radio{
 margin-right: 5px !important; 
 margin-left: 18px !important; 
}
.fileup{
 width:100%;
}

.divBenefits
{
    margin-left: 27%;
    margin-top: 30px;
}

.container {
  width: 600px;
  margin-left: 28%;
  text-align: center;
}
.container > .button {
  margin: 0 10px;
}

.buttonStep {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  min-width: 96px;
  line-height: 46px;
  padding: 0 24px;
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #154c86;
  background-color: #247edd;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #1c65b2 #18589c #18589c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
.buttonStep:before {
  content: '';
  position: absolute;
  top: -25%;
  bottom: -25%;
  left: -20%;
  right: -20%;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
}
.buttonStep:hover {
  background-color: #1a74d3;
}
.buttonStep:active {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px #154c86;
  background: #1f71c8;
  border-color: #113f70 #154c86 #1c65b2;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -moz-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -o-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: linear-gradient(to bottom, #1a5da5, #3a8be0);
}
.buttonStep:active:before {
  top: -50%;
  bottom: -125%;
  left: -15%;
  right: -15%;
  -webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
}

.button-green {
  text-shadow: 0 1px #0d4d09;
  background-color: #1ca913;
  border-color: #147b0e #11640b #11640b;
}
.button-green:hover {
  background-color: #159b0d;
}
.button-green:active {
  text-shadow: 0 -1px #0d4d09;
  background: #189210;
  border-color: #093606 #0d4d09 #147b0e;
  background-image: -webkit-linear-gradient(top, #126d0c, #20c016);
  background-image: -moz-linear-gradient(top, #126d0c, #20c016);
  background-image: -o-linear-gradient(top, #126d0c, #20c016);
  background-image: linear-gradient(to bottom, #126d0c, #20c016);
}

.button-red {
  text-shadow: 0 1px #72100d;
  background-color: #cd1d18;
  border-color: #9f1713 #891310 #891310;
}
.button-red:hover {
  background-color: #c01511;
}
.button-red:active {
  text-shadow: 0 -1px #72100d;
  background: #b61a15;
  border-color: #5b0d0b #72100d #9f1713;
  background-image: -webkit-linear-gradient(top, #921511, #e4201b);
  background-image: -moz-linear-gradient(top, #921511, #e4201b);
  background-image: -o-linear-gradient(top, #921511, #e4201b);
  background-image: linear-gradient(to bottom, #921511, #e4201b);
}

.icon-facebook {
width: 17px;
height: 17px;
background-position: -36px -168px;
position: relative;
top: 1px;
background-image: url('http://g-ecx.images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0029-1x._V1_.png');
background-repeat: no-repeat;
-webkit-background-size: 400px 650px;
-moz-background-size: 400px 650px;
-o-background-size: 400px 650px;
background-size: 400px 650px;
display: inline-block;
vertical-align: top;
}

.icon-twitter {
width: 17px;
height: 17px;
background-position: -57px -168px;
position: relative;
top: 1px;
background-image: url('http://g-ecx.images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0029-1x._V1_.png');
background-repeat: no-repeat;
-webkit-background-size: 400px 650px;
-moz-background-size: 400px 650px;
-o-background-size: 400px 650px;
background-size: 400px 650px;
display: inline-block;
vertical-align: top;
}

.icon-pinerest {
width: 17px;
height: 17px;
background-position: -78px -168px;
position: relative;
top: 1px;
background-image: url('http://g-ecx.images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0029-1x._V1_.png');
background-repeat: no-repeat;
-webkit-background-size: 400px 650px;
-moz-background-size: 400px 650px;
-o-background-size: 400px 650px;
background-size: 400px 650px;
display: inline-block;
vertical-align: top;
}

.btnCommit {    
    width: 150px;
    height: 35px;
    background-color: #093 !important;
    color: #fff !important;
    cursor: pointer;
    font-family: helvetica, arial !important;
    font-size: 17px !important;
}






