/* CSS Document */

#versionpad p
{
    /* Fix for Dev 6462 */
	padding:0px 0 4px 0;
}

#versionpad h4 {
	padding: 2px 0 2px 0;
}
table.versionborder td {
	border: 1px solid #ccc;
	padding: 10px;
}
table.versionborder_5px td {
	border: 1px solid #ccc;
	padding: 5px;
}
table.versionborder_viewpage td {
	border: 1px solid #ccc;
	padding: 5px 5px 0 5px;
}
#versionpad ul, #versionpad ol, #versionpad li {
	padding: 3px 0 3px 0;
	margin: 0 0 0 40px;
}
#versionpad ul, #versionpad ol {
	margin: 0 0 15px 0;
}

#versionpad h2 {
	padding: 0;
	margin: 0;
}

table.versiontablepad td  {
	padding: 3px 0 3px 0;
}

table.versiontablepadall td  {
	padding: 5px;
}

table.versiontablenopad td  {
	padding: 0px;
}

#versionpad .no_versionpad li {
	padding: 0px;
	margin: 0px;
}
#sectcont3 p
{
    /* Commented to fix Dev 6466 */
    /* font-size: 12px; */
    /* Line added to fix 7648, see the original issue */
    font-size: 12px;
    /* See what's better, 13px or 10pt */
}
#versionpad .versionfont p{
	font-size: 12px;
	margin: 0 0 15px 0;
	padding: 5px 0 10px 20px !important;
}
#versionpad #cpcontrol, 
#versionpad .no_mrg_pad, 
#versionpad .no_mrg_pad_p p,
#versionpad .no_mrg_pad_ul ul
{margin: 0px;padding:0px;}
#versionpad hr, #versionpad .btm_mrg_15px {margin: 0 0 15px 0;}
#versionpad .versionborder .noborder, #versionpad .noborder{border: none;}

